nav {
    height: 300%;
   
}
.form {
    height: 90%;
}
nav.navbar {
    background-color:rgb(121, 24, 129);
    
    width:100%;
}
input {
    margin-inline-end: 10p;
    

}
a{
    margin: 13px;
}
#contrasena{
    margin-left: 10px;
}
#boton1:hover {
    background:rgb(16, 39, 83);
  
  }
  #boton1 {
    border-radius: 25px;
    z-index: -1;
    width: 80%;
    height: 145%;
    background:rgb(142, 36, 168);
    color:white;
    border: none;
}
.form-control2 {
    margin-left: 2%;
    width: 10%;
    
}
#Ingresar {
    border-radius: 25px;
    width: 100%;
    background-color:rgb(138, 71, 145);
    color:white;
}
#Ingresar:hover{
background:rgb(77, 16, 83);

}
#inicio2 {
    margin-left: 35%;
    color:beige;
}
@media(min-width:1500px) {
    #inicio2{
        margin-left: 44%;
    }
}
@media (max-width: 461px)  {
 .titulologin2 {
    margin-block-start: 5%;
    margin-left: 9%;
    width: 70%;
 }
 .titulologin {
     margin-block-start: 5%;
     margin-left: 12%;
     width: 70%;
 }
 #inicio2 {
    margin-left: 46%;
 }
 .form-control2 {
     margin-block-start: 5%;
     width: 60%;
     margin-left: 21%;
    }
}
 @media (min-width: 462px) and (max-width: 575px)  {
    .titulologin2 {
       margin-block-start: 5%;
       width: 60%;
       margin-left: 13%;
    }
    .titulologin {
        margin-block-start: 5%;
        margin-left: 15%;
        width: 60%;
    }
   .form-control2 {
        width: 60%;
        margin-left: 20%;       
        margin-block-start: 5%;
   } 

   }
   

@media (max-width: 360px) {
    .form-control2 {
        margin-block-start: 7%;
        margin-left: 22%;
    }
    .titulologin {
    margin-block-start: 2%;
    }
}
@media (min-width: 739px) {
   #inicio{
    margin-left: 480px;
   }
}
