<nav class="navbar navbar-expand-lg navbar-dark" role="navigation">
  <img class="modal-title" src="/assets/logo.png" routerLink="/menu" height="40px"
    width="100px" alt="Generic placeholder image">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <h5 id="titulopag" routerLink="/administracion">BOLSA DE TRABAJO</h5>
    <li class="dropdown ml-auto">
      <a style="color:white" class="dropbtn dropdown-toggle">{{ usuarioActual.email }}</a>
      <div class="dropdown-content">
        <a style="color:white" routerLink="/menu">Menú principal</a>
        <a style="color:white" routerLink="/editarusuario">Información de la cuenta</a>
        <a style="color:white" routerLink="/postulaciones">Mis postulaciones</a>
        <a style="color:white" (click)="logout()" style="cursor: pointer">Cerrar sesión</a>
      </div>
    </li>
  </div>
</nav>