<form>
  <nav class="navbar navbar-expand-lg navbar-dark" role="navigation">
    <img class="modal-title" src="../../assets/logo.png" style="margin-left: 1%;" routerLink="/menu" height="40px"
      width="100px" alt="Generic placeholder image">
    <!--
       <h5 style="color:white; margin-left: 5px;" > 
          Volar Iap
       </h5>
           -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- asdsad -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <h5 id="titulopag" routerLink="/administracion">BOLSA DE TRABAJO</h5>
      <form class="micuenta">
        <li class="dropdown">
          <div class="row">
              <a style="color:white" class="dropbtn">Opciones </a>
              <img src="../../../assets/down-arrow.png" width="20px" height="15px" style="margin-block-start: 19%; margin-left:0;">
            </div>
          <div class="dropdown-content">
            <a style="color:white" routerLink="/menu">Menú principal</a>
            <a style="color:white" routerLink="/editarusuario">Información de la cuenta</a>
            <a style="color:white" routerLink="/postulaciones">Mis postulaciones</a>
            <a style="color:white" (click)="logout()" style="cursor: pointer">Cerrar sesión</a>
          </div>
        </li>
      </form>
      <form style="margin-left: 360px; display: none;" class="micuenta">
        <li class="dropdown">
          <a style="color:white" class="dropbtn">Opciones</a>

          <div class="dropdown-content">
            <a style="color:rgb(241, 233, 233)" routerLink="/menu">Menú principal</a>
            <a style="color:rgb(150, 149, 149)" routerLink="/moduloconfiguracion">Información de la cuenta</a>
            <a style="color:rgb(150, 149, 149)" routerLink="/postulaciones">Registrar tipo de empresa</a>
            <a style="color:rgb(150, 149, 149)" routerLink="/postulaciones">Registrar areas de estudio</a>
            <a style="color:rgb(150, 149, 149)" routerLink="/moduloregistro">Cerrar sesión</a>
          </div>
        </li>
      </form>
      <h6 id="prueba" style="color:white; margin-left: 10px;">{{ usuarioActual.email }}</h6>
    </div>
  </nav>
</form>