/* .body-content {
  background-image: url("/assets/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: local;
  background-size: cover;
  min-height: 120vh;
} */

.ir-arriba {
  padding: 16px;
  background-repeat: no-repeat;
  background: rgb(121, 24, 129);
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}

.ir-arriba:hover {
  background: rgb(67, 8, 71);
}

.page-footer {
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 0px;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgb(91, 6, 112);
}
#icon{
  width: 24px;
  height: 24px;
}
#logo_jap{
  width: 131px; 
  height: 51;
  padding-bottom: 5px;
}