<div class="body-content">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>

<span *ngIf="goTopEnabled" [hidden]="!showGoTopArrow" (click)="goTop()" class="ir-arriba">
    <img src="/assets/arrowuo.png" height="15px" width="15px" alt="Arriba">
</span>


<div *ngIf="showFooter">
    <footer class="page-footer">
        <div class="container">
            <div class="row text-lg-left text-col-center text-sm-center text-center">
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 text-center">
                    <img src="/assets/logo-JAP.png" alt="Logo JAP" id="logo_jap">
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-center">
                    Calle Río Sinaloa #245 Pte, Interior B. Fracc. Scally. <p>
                        <p>
                            Los Mochis, Sinaloa. México/ C.P. 81240
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                    <img src="/assets/Icono-cel.png" alt="Tel." id="icon"> +52 (668) 176 6354 <p>
                        <p>
                     <img src="/assets/Icono-facebook.png" alt="Facebook" id="icon"> Volar IAP
                </div>
            </div>
        </div>
    </footer>
</div>