<div class="container">
    <div class="col">
        <div *ngIf="resultado === 0" class="row">
            <h3>Verificando...</h3>
        </div>

        <div *ngIf="resultado === 1" class="row">
            <h3>Correo electrónico confirmado correctamente</h3>

            <p>
                Gracias por confirmar tu dirección de correo electrónico.
                Ahora debes esperar a que un administrador autorice tu solicitud de registro para poder ingresar.
            </p>
        </div>

        <div *ngIf="resultado === 2" class="row">
            <h3>La cuenta asociada a este correo electrónico ya ha sido verificada.</h3>
            <p>Debes esperar a que un administrador autorice tu solicitud de registro para poder ingresar.</p>
        </div>

        <div *ngIf="resultado === 3" class="row">
            <h3>No se encontró ninguna cuenta asociada a este código de verificación.</h3>
        </div>
    </div>
</div>