<form >
    <nav class="navbar navbar-default navbar-dark" role="navigation">
        <img  class="modal-title" src="../../assets/logo.png" routerLink="/menu"height="40px" width="100px" alt="Generic placeholder image">
        <!--
       <h5 style="color:white; margin-left: 5px;" > 
          Volar Iap
       </h5>
       --> 
        <h5 style="color: white; text-align: center; margin-left: 30%; " routerLink="/administracion">BOLSA DE TRABAJO</h5>
        <form  style="margin-left: 300px;" class="micuenta">
                <li class="dropdown">
                  <a style="color:white" class="dropbtn">Opciones</a>
                  <div class="dropdown-content">
                    <a style="color:rgb(150, 149, 149)" routerLink="/menu">Menu principal</a>
                    <a  style="color:rgb(150, 149, 149)" routerLink="/editarusuario">Informacion de la cuenta</a>
                    <a style="color:rgb(150, 149, 149)" routerLink="/postulaciones">Mis postulaciones</a>
                    <a style="color:rgb(150, 149, 149)"  routerLink="/moduloregistro">Cerrar sesion</a>
                  </div>
                </li>
              </form>
              <form  style="margin-left: 360px; display: none;" class="micuenta">
                <li class="dropdown">
                  <a style="color:white" class="dropbtn">Opciones</a>
                  <div class="dropdown-content">
                    <a style="color:rgb(150, 149, 149)" routerLink="/menu">Menu principal</a>
                    <a  style="color:rgb(150, 149, 149)" routerLink="/moduloconfiguracion">Informacion de la cuenta</a>
                    <a style="color:rgb(150, 149, 149)" routerLink="/postulaciones">Registrar tipo de empresa</a>
                    <a style="color:rgb(150, 149, 149)" routerLink="/postulaciones">Registrar areas de estudio</a>
                    <a style="color:rgb(150, 149, 149)"  routerLink="/moduloregistro">Cerrar sesion</a>
                  </div>
                </li>
              </form>
              <img style="margin-left: 10px; background-color: rgb(228, 213, 8);"  class="modal-title" src="../../assets/envelope.png" height="25px" width="25px" alt="Generic placeholder image">
              <img  style="margin-left: 5px;"  src="../../assets/bell.png" height="25px" width="25px" alt="Generic placeholder image">
        <h6 style="color:white; margin-left: 10px;">Nombre de usuario</h6>
    </nav>  
   </form>