li.dropdown {
    display: inline-block;
  }
  
  .form-control {
    padding-right: 0px;
  }
  #buscador {
    margin-left: 100px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(8, 2, 90);
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 10px 40px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }nav {
  }
  nav.navbar {
      background-color:rgb(55, 9, 94);
  }
  input {
      margin-inline-end: 10px;
      
  
  }
  a
  {
      margin: 13px;
  }
  #contrasena{
      margin-left: 10px;
  }
  .btn{
      margin-left: 20px;
  }