#registrarVacanteArea{
  text-align: right;
  width: 90%;
  margin-left: 5%;
}
#registrarVacanteButton{
  margin-top: 5px;
  font-size: 15px;
}
#vacantesInfo {
  margin-block-start: 5px;
  margin-left: 2%;
  color: black;
}
#vacantesContenedor {
  width: 90%;
  margin-left: 3%;
  background: white;
  cursor: pointer;
  min-height: 11em;
  border-left: 5px solid rgb(121, 24, 129);
  -webkit-box-shadow: 0px 3px 39px -15px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 3px 39px -15px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 3px 39px -15px rgba(0, 0, 0, 0.7);
}
#vacantesContenedor:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
  background: rgb(224, 224, 224);
}
