<app-headertittle></app-headertittle>

<div id="body">
    <span (click)="arriba()" class="ir-arriba "><img id="imagen" src="/assets/arrowuo.png" height="15px"
            width="15px" alt="Generic placeholder image">
    </span>

    <div class="container">
        <mat-tab-group id="mattab" dynamicHeight>
            <mat-tab label="Vacantes Publicadas">
                <div class="row" id="registrarvacante">
                    <div class="col-lg-7 col-sm-7 col-7" style="margin-block-start: 1%;">
                        <button class="btn" style="margin-left: 36%;" data-toggle="modal" data-target="#agregarvacante">
                            Agregar Vacante
                        </button>
                    </div>
                </div>
                <div *ngFor="let dat of vacantes; index as i"
                    style="margin-block-start: 3%;border-bottom: 1px solid purple;">
                    <div class="row">
                        <div>
                            <div id="vacantecontenedor" class="col-12 col-sm-12 col-12">
                                <div>
                                    <h6>Desarollo de software</h6>
                                    <h6>Empresa importante en el giro informatico solicito PROGRAMADOR</h6>
                                    <h6>DESARROLLO EMPRESARIAL</h6>
                                    <div class="row" style="margin-left: 1px;">
                                        <div class="col-lg-12 col-sm-12 col-12">
                                            <h6 style="margin-block-start:3%;">Fecha</h6>
                                        </div>
                                        <div class="col-lg-6 col-sm-5 col-5">
                                            <button class="btn2" data-toggle="modal" data-target="#datosvacante">
                                                Ver mas
                                            </button>
                                        </div>
                                        <div class="col-lg-6 col-sm-5 col-5">
                                            <button class="btn2">
                                                Solicitudes
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Vacantes Canceladas">
                <div *ngFor="let dat of vacantes; index as i"
                    style="margin-block-start: 2%;border-bottom: 1px solid purple;">
                    <div class="row">
                        <div>
                            <div id="vacantecontenedor" class="col-12 col-sm-12 col-12">
                                <div>
                                    <h6>Desarollo de software</h6>
                                    <h6>Empresa importante en el giro informatico solicito PROGRAMADOR</h6>
                                    <h6>DESARROLLO EMPRESARIAL</h6>
                                    <div class="row" style="margin-left: 1px;">
                                        <div class="col-lg-12 col-sm-12 col-12">
                                            <h6 style="margin-block-start:3%;">Fecha</h6>
                                        </div>
                                        <div class="col-lg-6 col-sm-5 col-5">
                                            <button class="btn2" data-toggle="modal" data-target="#datosvacante">
                                                Ver mas
                                            </button>
                                        </div>
                                        <div class="col-lg-6 col-sm-5 col-5">
                                            <button class="btn2">
                                                Solicitudes
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
        
        <div *ngIf="isLoading" class="container">
            <app-loading></app-loading>
        </div>
    </div>
</div>

<!--===============================================================================================-->
<!-- Modal de los datos de las vacantes -->
<div class="modal fade" id="datosvacante" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header border border-dark" style="background-color: rgb(87, 4, 87);">
                <h5 class="col-8 col-sm-8 col-md-8" id="exampleModalLabel" style="font-size: 100%; color:white;">
                    INFORMACION DE LA VACANTE</h5>
            </div>
            <div class="modal-body">
                <div style="margin-left: 60px;">
                    <div class="row" style="margin-block-start: 5%;">
                        <div class="col-lg-10 col-sm-9 col-8">
                            <h4 style="color:blue;">--------</h4>
                        </div>
                        <div data-toggle="modal" data-target="#vacanteeditar" data-dismiss="modal">
                            <BUtton class="form-control btn" >
                                <h6>Editar <img style="margin-left: 5px;" src="../../assets/edit.png" height="25px"
                                    width="25px" alt="Generic placeholder image"></h6>
                        
                            </BUtton>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-12">
                            <h6 style="margin-block-start: 30px;">----------</h6>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12">
                            <h6 style="margin-block-start: 30px;">Contratacion:</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-12">
                            <h6 style="margin-block-start: 30px;">----------------</h6>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12">
                            <h6 style="margin-block-start: 30px;">Salario neto mensual</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-12">
                            <h6 style="margin-block-start: 30px;">-------------------</h6>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12">
                            <h6 style="margin-block-start: 30px;">Experiencia</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-12">
                            <h6 style="margin-block-start: 30px;">------</h6>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12">
                            <h6 style="margin-block-start: 30px;">-----------</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-12">
                            <h6 style="margin-block-start: 30px;">Genero</h6>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12">
                            <h6 style="margin-block-start: 30px;">Indefenido</h6>
                        </div>
                    </div>
                    <h6 style="margin-block-start: 30px;">Fecha de postulacion -------------- </h6>

                    <div class="row">
                        <div class=" col-lg-4 col-sm-2 col-1">

                        </div>
                        <div>
                            <button class="btn btn-danger"
                                style="margin-block-start: 10%;; height:70%; width:100%;">Cancelar Vacante</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background-color: rgb(87, 4, 87);">
                <button type="button" class="botonfooter form-control" data-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>
<!--===============================================================================================-->
<!-- Modal para registrar una vacante -->
<div class="modal fade" id="agregarvacante" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header border border-dark" style="background-color: rgb(87, 4, 87);">
                <h5 id="exampleModalLabel" style="color:white;font-size: 100%;">REGISTRO DE VACANTE
                </h5>
            </div>
            <div class="modal-body">
                <div>
                    <h5 style="text-align: center;">Datos de la vacante</h5>
                    <div>
                        <div class="row">
                            <div class="col-lg-12 col-sm-6 col-12">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-12 col-12">
                                        <h6 style="margin-block-start: 15px;">Titulo de la vacante:</h6>
                                    </div>
                                    <div class="col-lg-9 col-sm-12 col-12">
                                        <input class="form-control" style="width: 100%; margin-block-start: 6px;"
                                            placeholder="titulo">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-6 col-12">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <h6 style="margin-block-start: 15px;">Nombre del puesto:</h6>
                                    </div>
                                    <div class="col-lg-9">
                                        <input class="form-control" style="width: 100%; margin-block-start: 6px;"
                                            placeholder="titulo"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-left: 3px;">
                            <h6 style="margin-block-start: 15px;">Descripcion del puesto:</h6>
                            <textarea rows="4" class="form-control"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <h6 style="margin-block-start: 15px;">Area de estudio</h6>
                            </div>
                            <div class="col-lg-9">
                                <select class="form-control" name="select"
                                    style=" width:100%; margin-block-start: 8px;">
                                    <option value="">Opciones</option>
                                    <option value="value1"> Ejemplo 1</option>
                                    <option value="value2">Ejemplo 2</option>
                                </select>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <h6 style="margin-block-start: 15px;">Genero</h6>
                                    </div>
                                    <div class="col-lg-9">
                                        <select class="form-control" name="select"
                                            style="width:100%; margin-block-start: 6px;">
                                            <option value="">Opciones</option>
                                            <option value="value1"> Ejemplo 1</option>
                                            <option value="value2">Ejemplo 2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <h6 style="margin-block-start: 15px;">Sueldo</h6>
                                    </div>
                                    <div class="col-lg-9">
                                        <input class="form-control" style="width: 100%; margin-block-start: 6px;"
                                            placeholder="titulo">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-left:3px;">
                            <h6 style="margin-block-start: 15px;">Direccion</h6>
                            <textarea rows="4" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background-color: rgb(87, 4, 87);">
                <button type="button" class="botonfooter form-control" id="botonfooter2"
                    data-dismiss="modal">Registrar</button>
                <button type="button" class="botonfooter form-control" id="botonfooter2"
                    data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--===============================================================================================-->
<!-- Modal para editar la informacion del usuario -->
<div class="modal fade" id="editarinfoempresa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header border border-dark" style="background-color: rgb(87, 4, 87);">
                <h5 id="exampleModalLabel" style="color:white; font-size: 100%;">Editar informacion
                </h5>
            </div>
            <div class="modal-body" style="overflow: auto">
                <div>

                    <h6>Informacion de la Empresa</h6>
                    <div class="border border-dark" style="width: 99%; ">
                        <h6 style="margin-left: 1%;">Datos de la Empresa</h6>
                        <div class="row" style="margin-left: 1%;">
                            <div class="col-lg-1 col-sm-2 col-3" id="titulo">
                                <h6 autofocus required id="tamaño">Nombre:</h6>
                            </div>
                            <div class="col-lg-3 col-sm-3 col-7" style="margin-left: 2%;">
                                <input class="form-control input100" type="text">
                            </div>
                            <div class="col-lg-1 col-sm-2 col-3" id="titulo">
                                <h6 id="tamaño">Telefono:</h6>
                            </div>
                            <div class="col-lg-3 col-sm-3 col-7" style="margin-left: 2%;">
                                <input class="form-control input100" type="number">
                            </div>
                        </div>

                        <div class="row" style="margin-left: 15px;">
                            <div class="col-lg-1 col-sm-1 col-3" id="titulo">
                                <h6 id="tamaño">RFC:</h6>
                            </div>
                            <div class="col-lg-3 col-sm-3 col-7" style="margin-left: 2%; ">
                                <input class="form-control input100" type="email">
                            </div>
                            <div class="col-lg-2 col-sm-2 col-3" id="titulo">
                                <h6 id="tamaño">Pagina web:</h6>
                            </div>
                            <div class="col-lg-3 col-sm-3 col-7" style="margin-left: 2%; ">
                                <input class="form-control input100" type="email">
                            </div>

                        </div>
                        <div class="input-group" style="margin-block-start: 2%; width: 90%; margin-left: 2%;">
                            <div class="input-group-prepend">
                                <span class="input-group-text"
                                    style="background-color: black; color:white;">Descripcion</span>
                            </div>
                            <textarea rows="4" class="form-control" aria-label="With textarea"></textarea>
                        </div>
                        <h6 style="margin-left: 30px; margin-top: 20px;">Direccion</h6>
                        <div class="row" style="margin-left: 35px;">
                            <div class="col-lg-1 col-sm-2 col-2" id="titulo">
                                <h6 id="tamaño">Estado:</h6>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-9" style="margin-left: 2%;">
                                <select class="form-control" name="select" style="margin-top: 10px; width:70%;">
                                    <option value="value1" selected>Ejemplo 1</option>
                                    <option value="value2">Ejemplo 2</option>
                                </select>
                            </div>
                            <div class="col-lg-1 col-sm-2 col-2" id="titulo">
                                <h6 id="tamaño">Ciudad:</h6>
                            </div>
                            <div class="col-lg-4 col-sm-3 col-7" style="margin-left: 2%;">
                                <input class="form-control input100" type="text">
                            </div>
                        </div>
                        <div class="row" style="margin-left: 35px;">
                            <div class="col-lg-1 col-sm-2 col-2" id="titulo">
                                <h6 id="tamaño">Colonia:</h6>
                            </div>
                            <div class="col-lg-4 col-sm-3 col-8" style="margin-left: 10px;">
                                <input class="form-control input100" type="text">
                            </div>
                            <div class="col-lg-1 col-sm-1 col-2" id="titulo">
                                <h6 id="tamaño">Calle:</h6>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-7" style="margin-left: 2%;">
                                <input class="form-control input100" type="text">
                            </div>
                        </div>
                        <div class="row" style="margin-left: 35px; margin-block-end: 2%;">
                            <div class="col-lg-1 col-sm-2 col-2" id="titulo">
                                <h6 id="tamaño">CP:</h6>
                            </div>
                            <div class="col-lg-4 col-sm-3 col-7" style="margin-left: 10px;">
                                <input class="form-control input100" type="number">
                            </div>
                        </div>
                    </div>
                    <!-- Aqui empieza el espacio para el contacto -->
                    <div class="border border-dark" style="width: 99%; margin-block-start: 2%;">
                        <h6 style="margin-left: 1%;">Datos del Contacto</h6>
                        <div class="row" style="margin-left: 1%;">
                            <div class="col-lg-1 col-sm-2 col-3" id="titulo">
                                <h6 autofocus required id="tamaño">Nombre:</h6>
                            </div>
                            <div class="col-lg-3 col-sm-3 col-7" style="margin-left: 2%;">
                                <input class=" form-control input100" type="text">
                            </div>
                            <div class="col-lg-1 col-sm-2 col-3" id="titulo">
                                <h6 id="tamaño">Telefono:</h6>
                            </div>
                            <div class="col-lg-3 col-sm-3 col-7" style="margin-left: 2%;">
                                <input class="form-control input100" type="number">
                            </div>
                        </div>

                        <div class="row" style="margin-left: 15px; margin-block-end: 5%;">
                            <div class="col-lg-1 col-sm-1 col-3" id="titulo">
                                <h6 id="tamaño">Correo Electronico:</h6>
                            </div>
                            <div class="col-lg-3 col-sm-5 col-7" style="margin-left: 4%; margin-block-start: 1%; ">
                                <input class="form-control  input100" type="email">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-block-start: 5%;">
                        <div class="col-lg-4 col-sm-4 col-4">
                            <div>
                                <button class="form-control btn btn-primary">Seleccionar Logo</button>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-6">
                            <div style="margin-left: 80%;">
                                <img class="modal-title" src="../../assets/img.png" height="60px" width="60px"
                                    alt="Generic placeholder image">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer" style="background-color: rgb(87, 4, 87);">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Omitir</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>
<!--===============================================================================================-->
<!-- Modal para editar una vacante -->
<div style="overflow-y:scroll" class="modal fade" id="vacanteeditar" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header border border-dark" style="background-color: rgb(87, 4, 87);">
                <h5 id="exampleModalLabel" style="font-size: 100%; color:white;"> EDITAR VACANTE</h5>
            </div>
            <div class="modal-body">
                <div>
                    <h5 style="text-align: center;">Datos de la vacante</h5>
                    <div>
                        <div class="row">
                            <div class="col-lg-12 col-sm-6 col-12">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-12 col-12">
                                        <h6 style="margin-block-start: 15px;">Titulo de la vacante:</h6>
                                    </div>
                                    <div class="col-lg-9 col-sm-12 col-12">
                                        <input class="form-control" style="width: 100%; margin-block-start: 6px;"
                                            placeholder="titulo">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-6 col-12">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <h6 style="margin-block-start: 15px;">Nombre del puesto:</h6>
                                    </div>
                                    <div class="col-lg-9">
                                        <input class="form-control" style="width: 100%; margin-block-start: 6px;"
                                            placeholder="titulo"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-left: 3px;">
                            <h6 style="margin-block-start: 15px;">Descripcion del puesto:</h6>
                            <textarea rows="4" class="form-control"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <h6 style="margin-block-start: 15px;">Area de estudio</h6>
                            </div>
                            <div class="col-lg-9">
                                <select class="form-control" name="select"
                                    style=" width:100%; margin-block-start: 8px;">
                                    <option value="">Opciones</option>
                                    <option value="value1"> Ejemplo 1</option>
                                    <option value="value2">Ejemplo 2</option>
                                </select>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <h6 style="margin-block-start: 15px;">Genero</h6>
                                    </div>
                                    <div class="col-lg-9">
                                        <select class="form-control" name="select"
                                            style="width:100%; margin-block-start: 6px;">
                                            <option value="">Opciones</option>
                                            <option value="value1"> Ejemplo 1</option>
                                            <option value="value2">Ejemplo 2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <h6 style="margin-block-start: 15px;">Sueldo</h6>
                                    </div>
                                    <div class="col-lg-9">
                                        <input class="form-control" style="width: 100%; margin-block-start: 6px;"
                                            placeholder="titulo">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-left:3px;">
                            <h6 style="margin-block-start: 15px;">Direccion</h6>
                            <textarea rows="4" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background-color: rgb(87, 4, 87);">
                <button type="button" class="botonfooter form-control" id="botonfooter2"
                    data-dismiss="modal">Listo</button>
                <button type="button" class="botonfooter form-control" id="botonfooter2"
                    data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>