.form-control {
    width: 70%;
}
#titulo {
    margin-left: 3%;
}
#contenedor {
    width: 100%;
    height: 100%;

}
h6{
    margin-block-start: 8px;
}
#titulo-css {
    margin-left: 1%; 
    font-size: 20px;
    border-bottom: 1px solid purple;
}
#boton {
    width: 15%;
    height: 15%;
    margin-block-start: 1%;
    margin-left: 54%;
}
#boton2 {
    width: 15%;
    height: 15%;
    margin-block-start: 1%;
    margin-left: 1%;
}
#boton3:hover{
    background:rgb(77, 16, 83);
  
  }
  #espacioabajo {
      margin-block-start: 4%;
  }
  #boton3{
    border-radius: 25px;
    width: 100%;
    height: 120%;
    background:rgb(121, 24, 129);
    color:white;
  }
.laborals {
    width:96%; 
    height: 30%;
    margin-top: 2%;
    background-color: transparent;;
}
  @media  (max-width: 575px) {
    .laborals {
        height: 290px;
    }
    .form-control {
        width: 200%;
    }
    #reglon{
        margin-block-start: 100%;
    }
   
  }
  @media (min-width: 575px) and (max-width: 1000px) {
      .form-control {
          width: 250%;
      }
      #espaciovacio {
          height: 200px;
      }
  }
  @media (min-width:320px) and (max-width:420px) {
      #boton3 {
          height: 100%;
          width: 120px;
      }
    
  }
   @media (min-width:357px) and (max-width:564px) {
      #espaciovacio{
          height:600px;
          margin-block-start: 725px;

      }
      #boton3{
          width: 160px;
          margin-left: 8%;
      }
      .segundoboton{
          margin-left: 8%;
      }
  } 
  @media (max-width:356px) {
      #espaciovacio{
        height: 650px;
        margin-block-start: 800px;
      }
      #boton3{
          margin-left:0;
      }
      .segundoboton{
        margin-left: 10%;
    }
  }
  body {
    position: fixed; 
    width:100%;
    height:100%; 
    overflow: auto;
    background-image: url('/assets/background.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

  }
  #espaciovacio {
    height: 200px;
  }
  #reglon {
    margin-block-start: 2%;
  }
  /* aqui comienza el diseño de los titulos de datos del usuario y laborales  */
  /* Basic styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root{
    --bg-color: #D8D8D8;
}

h1{
    font-size: 3em;
    font-weight: normal;
}

/* title styles */
.home-title span{
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.2;
}

.home-title span::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: white;
    animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

.home-title span::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

.home-title span:nth-of-type(1)::before,
.home-title span:nth-of-type(1)::after{
    animation-delay: 1s;
}

.home-title span:nth-of-type(2)::before,
.home-title span:nth-of-type(2)::after{
    animation-delay: 1.5s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}