<app-headertittle></app-headertittle>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.angularjs.org/1.6.9/angular.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!--===============================================================================================-->
    <!--===============================================================================================-->

</head>
<!-- En esta parte comienza el cuerpo de la pagina -->


<div class="container">
    <div class="row mt-4">
        <div class="col">
            <h3>INFORMACIÓN DE LA CUENTA</h3>
        </div>
    </div>
    <h6 id="titulo">
        <span>DATOS PERSONALES </span>
    </h6>

    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <label for="nombre">Nombre</label>
            <input id="nombre" name="nombre" class="form-control" type="text" placeholder=""
                autocomplete="off" [(ngModel)]="infoCandidato.nombre" disabled>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
            <label for="apellido1">Primer Apellido</label>
            <input id="apellido1" name="apellido1" class="form-control" type="text" placeholder=""
                autocomplete="off" [(ngModel)]="infoCandidato.apellido1" disabled>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
            <label for="apellido2">Segundo Apellido</label>
            <input id="apellido2" name="apellido2" class="form-control" type="text" placeholder=""
                autocomplete="off" [(ngModel)]="infoCandidato.apellido2" disabled>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <label for="fechaNacimiento">Fecha de Nacimiento</label>
            <input id="fechaNacimiento" name="fechaNacimiento" class="form-control" type="date" autocomplete="off" [(ngModel)]="infoCandidato.fecha_nacimiento" disabled>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <label for="genero">Género</label>
            <span class="custom-dropdown">
                <select class="form-control" name="genero" id="genero" [(ngModel)]="infoCandidato.genero" disabled>
                    <option value="0" selected disabled>Seleccione el género</option>
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                    <option value="O">Otro</option>
                </select>
            </span>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <label for="telefono">Teléfono</label>
            <input id="telefono" name="telefono" class="form-control" type="text" placeholder="Ej. 6684953849"
                autocomplete="off" [(ngModel)]="infoCandidato.telefono" OnlyNumber="true" maxlength="12">
        </div>
        
    </div>

    <h6 id="titulo" style="margin-top: 50px">
        DIRECCIÓN
    </h6>
    <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12 col-12" style="margin-bottom: 10px;">
            <label for="estado">Entidad Federativa</label>
            <span class="custom-dropdown">
                <select class="form-control" name="estado" id="estado" [(ngModel)]="infoCandidato.id_entidad_federativa" disabled>
                    <option value="0" selected disabled>Seleccione la entidad federativa</option>
                    <option *ngFor="let entidad of entidadesFederativas" [value]="entidad.id_entidad_federativa">{{entidad.nombre}}</option>
                </select>
            </span>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <label for="ciudad">Municipio</label>
            <span class="custom-dropdown">
                <select class="form-control" name="ciudad" id="ciudad" [(ngModel)]="infoCandidato.id_municipio">
                    <option value="0" selected disabled>Seleccione el municipio</option>
                    <option *ngFor="let municipio of municipios" [value]="municipio.id_municipio">{{municipio.nombre}}</option>
                </select>
            </span>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <label for="ciudad">Ciudad/Localidad</label>
            <input id="ciudad" name="ciudad" class="form-control" type="text" placeholder="Ej. Los Mochis"
                autocomplete="off" [(ngModel)]="infoCandidato.ciudad">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12" style="margin-bottom: 10px;">
            <label for="colonia">Colonia</label>
            <input id="colonia" name="colonia" class="form-control" type="text" placeholder="Ej. Centro"
                autocomplete="off" [(ngModel)]="infoCandidato.colonia">
        </div>  
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <label for="codigoPostal">Codigo Postal</label>
            <input id="codigoPostal" name="codigoPostal" class="form-control" type="text" autocomplete="off"
                placeholder="Ej. 81271" [(ngModel)]="infoCandidato.cp" OnlyNumber="true" maxlength="5">
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12 col-12">
            <label for="calle">Calle</label>
            <input id="calle" name="calle" class="form-control" type="text" autocomplete="off"
                placeholder="Ej. Miguel Hidalgo" [(ngModel)]="infoCandidato.calle">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <label for="numExterior">Numero Exterior</label>
            <input id="numExterior" name="numExterior" class="form-control" type="text" autocomplete="off"
                placeholder="Ej. 856" [(ngModel)]="infoCandidato.num_ext" OnlyNumber="true" maxlength="6">
        </div>
    </div>

    <h6 id="titulo" style="margin-top: 50px">
        DATOS ACADEMICOS
    </h6>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12" style="margin-bottom: 10px;">
            <label for="nivelEstudios">Ultimo Nivel de Estudios</label>
            <span class="custom-dropdown">
                <select class="form-control" name="nivelEstudios" id="nivelEstudios" [(ngModel)]="infoCandidato.id_grado_estudios" disabled>
                    <option value="0" selected disabled>Seleccione un nivel de estudios</option>
                    <option *ngFor="let grado of gradosEstudio" [value]="grado.id_grado_estudios">{{grado.nombre}}</option>
                </select>
            </span>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <label for="areaEstudio">Area de Estudio</label>
            <span class="custom-dropdown">
                <select class="form-control" name="areaEstudio" id="areaEstudio" [(ngModel)]="infoCandidato.id_area_estudio">
                    <option value="0" selected disabled>Seleccione el area de estudio</option>
                    <option *ngFor="let area of areas" [value]="area.id_area_estudio">{{area.nombre}}</option>
                </select>
            </span>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <label for="escuela">Escuela</label>
            <input id="escuela" name="escuela" class="form-control" type="text"
                placeholder="Ej. Facultad de Ingenieria Los Mochis, UAS" autocomplete="off" [(ngModel)]="infoCandidato.escuela">
        </div>
    </div>

    <h6 id="titulo" style="margin-top: 50px">
        ARCHIVOS DE VALIDACIÓN
    </h6>
    <label for="" style="margin-bottom: 10px">Para poder validar tus datos y comprobar que eres quien dices ser, es necesario subir ciertos archivos para concluir con tu registro.</label>
    <div class="row">
        <!-- CURP -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="input-group" style="width: 100%;">
                <div id="inputFile" class="input-group-prepend">
                    <span class="input-group-text" id="fileCurp">CURP</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="fileCurp"
                        aria-describedby="inputGroupFileAddon01" accept=".docx,.pdf" lang="es">
                    <label class="custom-file-label" for="inputGroupFile01">Selecciona uno o más archivos</label>
                </div>
            </div>
        </div>
        <!-- ID -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="input-group" style="width: 100%;">
                <div id="inputFile" class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">IDENTIFICACIÓN</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="fileIdentificacion"
                        aria-describedby="inputGroupFileAddon01" accept=".docx,.pdf" lang="es">
                    <label class="custom-file-label" for="fileIdentificacion">Selecciona uno o más archivos</label>
                </div>
            </div>
        </div>
        <!-- CURRICULUM -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="input-group" style="width: 100%;">
                <div id="inputFile" class="input-group-prepend">
                    <span class="input-group-text" id="fileCurriculum">CURRICULUM</span>
                </div>
                <div class="custom-file">
                    <input #file type="file" class="custom-file-input" id="fileCurriculum"
                        aria-describedby="inputGroupFileAddon01" accept=".docx,.pdf" lang="es" (change)="updateFile(file)">
                    <label class="custom-file-label" for="inputGroupFile01">Selecciona uno o más archivos</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-end pb-4">
        <div class="col text-right">
            <button class="btn btn-primary mx-2" (click)="guardarCambios()">GUARDAR</button>
        </div>
    </div>
    <div id="separador" style="height: 150px;">
    </div>
</div>