#titulo{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #404044;
}
label{
    font-size: 15px;
    font-weight: 400;
    color: #404044;
}
input{
    font-size: 15px;
    margin-bottom: 10px;
}
select{
    font-size: 15px;
    margin-bottom: 10px;
}
/* Custom dropdown */
.custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }
  
  .custom-dropdown select {
    font-size: inherit;
    width: 100%;
    padding: 0.5em;
    padding-right: 2.5em;
    margin: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: "";
    -webkit-appearance: button; /* hide default arrow in chrome OSX */
  }  
.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

/*  Custom dropdown arrow */
.custom-dropdown::after {
  content: "\25BC";
  height: 1em;
  font-size: 0.625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -0.5em;
  color: black !important;
}

/*  Custom dropdown arrow cover */
.custom-dropdown::before {
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0, 0, 0, 0.15);
}

.input-group{
    margin-bottom: 20px;
}
#inputFile{
    height: 37px;
}
#boton3:hover{
    background:rgb(77, 16, 83);
  
  }
  #espacioabajo {
      margin-block-start: 4%;
  }
  .custom-file-input ~ .custom-file-label:lang(es)::after {
    content: "Elegir";
  }
  
/* #boton {
    width: 15%;
    height: 15%;
    margin-block-start: 1%;
    margin-left: 54%;
}
#boton2 {
    width: 15%;
    height: 15%;
    margin-block-start: 1%;
    margin-left: 1%;
}

.laborals {
    width:100%; 
    height: 30%;
    margin-top: 2%;
    background-color: transparent;;
}
#botonChange {
    margin-block-start: 2%;
}
  @media  (max-width: 575px) {
    .laborals {
        height: 290px;
    }
    .form-control {
        width: 200%;
    }
    #reglon{
        margin-block-start: 100%;
    }
   
  }
  @media (min-width: 575px) and (max-width: 1000px) {
      .form-control {
          width: 250%;
      }
     
  }
  @media (min-width:320px) and (max-width:420px) {
      #boton3 {
          height: 100%;
          width: 120px;
      }
    
  }
   @media (min-width:361px) and (max-width:564px) {
      #espaciovacio{
          height:950px;
          margin-block-start: 999px;

      }
      #boton3{
          width: 160px;
          margin-left: 8%;
      }
      .segundoboton{
          margin-left: 8%;
      }
      #botonChange {
          margin-block-start: 50%;
      }

  } 
  @media (max-width:360px) {
      #espaciovacio{
        height: 1050px;
        margin-block-start: 1050px;
      }
      #boton3{
          margin-left:0;
      }
      .segundoboton{
        margin-left: 10%;
    }
    #botonChange{
        margin-block-start: 49%;
    }
  }
  body {
    position: inherit;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-image: url('/assets/background.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

  }
  #espaciovacio {
    height: 270px;
    
  }
  #reglon {
    margin-block-start: 2%;
  } */
  /* aqui comienza el diseño de los titulos de datos del usuario y laborales  */
  /* Basic styles */
/* *,
*::before,
*::after {
  box-sizing: border-box;
}

:root{
    --bg-color: #D8D8D8;
}

h1{
    font-size: 3em;
    font-weight: normal;
} */

/* title styles */
/* .home-title span{
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.2;
}

.home-title span::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: white;
    animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

.home-title span::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

.home-title span:nth-of-type(1)::before,
.home-title span:nth-of-type(1)::after{
    animation-delay: 1s;
}

.home-title span:nth-of-type(2)::before,
.home-title span:nth-of-type(2)::after{
    animation-delay: 1.5s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
} */