<app-headertittle></app-headertittle>
<!--inicia del cuerpo de la pagina del menu -->
<html>
        <head>
                <meta charset="UTF-8">
                <TItle>Sitio web responsivo</TItle>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
                <meta name="viewport" content="width-device-width, user-scalable=no, initial-scale=1.0, maxium-scale=1.0, minium-scale=1.0">
            </head>
    
    <div id="body">
        
            <div class="border border-dark main">
                    <div class="container" >
                            <div class="row" >
                                    <div class="col-lg-3">
                                        <h6 id="titulo2" style="color:white;">Titulo de la empresa</h6>
                                        <input type="text" class="form-control input-lg" placeholder="Titulo o Empresa"> 
                                    </div>
                                    <div class="col-lg-3 col-md-5 col-sm-7" style="margin-left: 2%">
                                        <h6 id="titulo2"  style="color:white;">Ubicación</h6>
                                        <input type="text"  class="form-control" placeholder="Ciudad o Estado"> 
                                    </div>
                                    <div class="" >
                                        <button (click)="buscar()"  style="width: 200%; height: 40%; margin-block-start: 70%; margin-left: 60%" class="btn btn-primary" > 
                                            Buscar
                                        </button>
                                    </div>      
                            </div>
                    </div>
                    <div class="container">
                            <div class="row" id="busquedaavanzada">
                                    <div class="drop-down-options-style col-lg-2 col-5 col-sm-5 col-md-4" > 
                                            <select class="drop-down-options" name="select" style=" width:119%; margin-block-start: 3%; font-size: 15px;">
                                                    <option value="">Salario</option>
                                                    <option value="value1"> Ejemplo 1</option> 
                                                    <option value="value2">Ejemplo 2</option>
                                            </select>     
                                    </div>
                                    <div class="drop-down-options-style col-lg-2 col-5 col-sm-5 col-md-4"  >
                                            <select  class="drop-down-options" name="select" style=" width:119%; margin-block-start: 3%; font-size: 15px">
                                                    <option value="">Categoria</option>
                                                    <option value="value1"> Ejemplo 1</option> 
                                                    <option value="value2">Ejemplo 2</option>
                                            </select>  
                                    </div>
                                    <div class="drop-down-options-style col-lg-2 col-5 col-sm-5 col-md-4" >
                                            <select  class="select-drop-down-options" name="select" style=" width:150%; margin-block-start: 3%; font-size: 15px">
                                                    <option value="">Subcategoria</option>
                                                    <option value="value1"> Ejemplo 1</option> 
                                                    <option value="value2">Ejemplo 2</option>
                                            </select>  
            
                                    </div>
                                    <h6 class="col-lg-3 col-5 col-sm-5 col-md-4" style="color: rgb(18, 129, 180); margin-block-start: 1%; margin-left: 10%; cursor:pointer;">Limpiar Filtros</h6>
                                </div>
                    </div>
                </div> 
                               <div style="margin-left: 10%; margin-block-start:4%;">
                                   <h6 style="color:black;">999 Ofertas de empleo actualmente</h6>
                               </div> 
                           
                               <div  *ngFor = "let vacante of vacantes" class="" style="background: rgba(18, 11, 119, 0.502); width: 70%; height: 25%; margin-left: 10%; border-radius: 0px 0px 30px 0px">
                                    <div data-toggle="modal" data-target="#datosvacante" style="margin-block-start: 10px; margin-left: 60px; height: 10%;" class="row">
                                            <div data-toggle="modal" data-target="#datosvacante" class="col-lg-9">
                                                <h6 style="color:yellow; font-size: 23px; margin-top: 1%">{{vacante.titulo_vacante}}</h6>
                                            </div>
                                            <div class="col-lg-3">
                                                    <h6 style="color:white; margin-top: 8%">{{vacante.fecha_publicacion | date: 'mediumDate'}}</h6>
                                            </div>
                                        <div data-toggle="modal" data-target="#datosvacante" class="col-lg-9">
                                            <h6 style="color: white; margin-top: 2%; font-size: 20px">{{vacante.usuario}}</h6>
                                        </div>
                                        <div data-toggle="modal" data-target="#datosvacante" class="col-lg-9">
                                            <h6 style="color:white;margin-top: .2%">{{vacante.entidades_federativa}}</h6>
                                        </div>       
                                    </div> 
                                    <h6   data-toggle="modal" data-target="#datosvacante" style="margin-top: 1%; margin-left: 75px; width: 80% ;color:rgba(255, 255, 255, 0.719);">{{vacante.descripcion_puesto | slice:0:190}}...</h6>
                                    
                                </div>
                                
                                   
                                        <div style="height: 30px">
                                            <!-- SEPARADOR ENTRE FOOTER Y ULTIMO ELEMENTO -->
                                          </div>  
    </div>
    
    <footer  id="sticky-footer" class="static-bottom">
            <div class="container text-center">
                <small>Copyright &copy;  VOLAR IAP ✔ 🐱‍👤</small>
            </div>
    </footer>
    
</html>



