div#cabeceraBusqueda {
  background-color: white;
  -webkit-box-shadow: 0px 3px 39px -15px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 3px 39px -15px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 3px 39px -15px rgba(0, 0, 0, 0.7);
}

/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.custom-dropdown select {
  font-size: inherit;
  width: 100%;
  padding: 0.5em;
  padding-right: 2.5em;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: "";
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

/*  Custom dropdown arrow */
.custom-dropdown::after {
  content: "\25BC";
  height: 1em;
  font-size: 0.625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -0.5em;
  color: black !important;
}

/*  Custom dropdown arrow cover */
.custom-dropdown::before {
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0, 0, 0, 0.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0, 0, 0, 0.1);
}

.custom-dropdown::before {
  background-color: rgba(0, 0, 0, 0.15);
}

.custom-dropdown::after {
  color: rgba(0, 0, 0, 0.4);
}

#vacantecontenedor {
  background: white;
  cursor: pointer;
  min-height: 11em;
  border-left: 5px solid rgb(121, 24, 129);
  -webkit-box-shadow: 0px 3px 39px -15px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 3px 39px -15px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 3px 39px -15px rgba(0, 0, 0, 0.7);
}

#vacantecontenedor:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
  background: rgb(224, 224, 224);
}

#vacantesmenu {
  margin-block-start: 5px;
  margin-left: 2%;
  color: black;
}

li {
  cursor: pointer;
}

.scrollup_img {
  z-index: 2;
  position: fixed;
  bottom: 40px;
  right: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
#espacioNovacante {
  margin-block-start: 5%;
  width: 50%;
  margin-left: 25%;
  height: 250px;
  text-align: center;
}
#espacioAviso {
  margin-block-start: 3%;
}

.page-item.active .page-link {
    background-color: rgb(121, 24, 129);
    border-color: rgb(121, 24, 129);
}

.page-item.active .page-link:hover {
    background-color: rgb(106, 22, 114);
    border-color:  rgb(106, 22, 114);
    color: white;
}