<app-headertittle></app-headertittle>

<!--inicia del cuerpo de la pagina del menu -->

<div id="body">
    <div id="cabeceraBusqueda" class="container-fluid">
        <div class="container">
            <div class="row pt-3 pb-1 align-items-end">
                <div class="col-sm-5">
                    <div class="form-group">
                        <h6 id="titulo2" style="color:white;">Título de la vacante</h6>
                        <input type="text" class="form-control" placeholder="Ingeniero en software"
                            [(ngModel)]="busqueda.InputTitulo">
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <h6 id="titulo2" style="color:white;">Ubicación</h6>
                        <input class="form-control" placeholder="Sinaloa" [(ngModel)]="busqueda.InputUbicacion"
                            list="browsers">

                        <datalist id="browsers">
                            <option value="Aguascalientes">
                            <option value="Baja California">
                            <option value="Baja California Sur">
                            <option value="Campeche">
                            <option value="Chiapas">
                            <option value="Chihuahua">
                            <option value="Ciudad de México">
                            <option value="Coahuila">
                            <option value="Colima">
                            <option value="Durango">
                            <option value="Guanajuato">
                            <option value="Guerrero">
                            <option value="Hidalgo">
                            <option value="Jalisco">
                            <option value="México">
                            <option value="Michoacán">
                            <option value="Morelos">
                            <option value="Nayarit">
                            <option value="Nuevo León">
                            <option value="Oaxaca">
                            <option value="Puebla">
                            <option value="Querétaro">
                            <option value="Quintana Roo">
                            <option value="San Luis Potosí">
                            <option value="Sinaloa">
                            <option value="Sonora">
                            <option value="Tabasco">
                            <option value="Tamaulipas">
                            <option value="Tlaxcala">
                            <option value="Veracruz">
                            <option value="Yucatán">
                            <option value="Zacatecas">
                        </datalist>
                    </div>
                </div>
                <div class="w-100 d-none d-sm-none"></div>
                <div id="espaciobuscar" class="col-sm-3">
                    <div class="form-group">
                        <button (click)="buscar()" class="btn btn-success form-control">
                            BUSCAR
                        </button>
                    </div>
                </div>
            </div>

            <div class="row pb-2">
                <div class="form-group col-sm-3">
                    <span class="custom-dropdown">
                        <select class="form-control" [(ngModel)]="busqueda.SelectedSalario">
                            <option value="0">Sueldos</option>
                            <option value="1">$0 - $5,000 MXN</option>
                            <option value="2">$5,000 - $10,000 MXN</option>
                            <option value="3">$10,000 - $15,000 MXN</option>
                            <option value="4">$15,000 - $20,000 MXN</option>
                            <option value="5">$20,000 - $30,000 MXN</option>
                            <option value="6">$30,000 - $40,000 MXN</option>
                            <option value="7">$40,000 - $60,000 MXN</option>
                            <option value="8">$60,000 - $80,000 MXN</option>
                            <option value="9">$80,000 - o más</option>
                        </select>
                    </span>
                </div>

                <div class="form-group col-sm-3">
                    <span class="custom-dropdown">
                        <select class="form-control" name="select" [(ngModel)]="busqueda.SelectedFecha">
                            <option value="0">Fecha</option>
                            <option value="1">Hace 1 semana</option>
                            <option value="2">Hace 2 semanas</option>
                            <option value="3">Hace 1 mes</option>
                            <option value="4">Hace 2 meses</option>
                            <option value="5">Hace 4 meses</option>
                            <option value="6">Hace 6 meses</option>
                        </select>
                    </span>
                </div>

                <div class="form-group col-sm-3">
                    <span class="custom-dropdown">
                        <select class="form-control" [(ngModel)]="busqueda.SelectedArea">
                            <option value="0" selected>Áreas</option>
                            <option *ngFor="let area of areas" [value]="area.id_area_estudio">{{area.nombre}}</option>
                        </select>
                    </span>
                </div>

                <div class="col-sm-3">
                    <button id="limpiar" class="btn btn-outline-secondary form-control" (click)="limpiarFiltros()">
                        LIMPIAR FILTROS
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!isLoading && noVacantesDisponibles" class="container">
        <div>
            No hay vacantes papá
        </div>
    </div>

    <div *ngIf="isLoading" class="container">
        <div class="row mt-5 pt-5 justify-content-center">
            <div class="lds-ring">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

        <div class="row justify-content-center">
            Cargando...
        </div>
    </div>


    <div *ngIf="!isLoading && !noVacantesDisponibles" class="container">
        <div class="row mt-3">
            <div class="col">
                <h6 style="color:black;">{{allItems.length}} ofertas de empleo</h6>
            </div>
        </div>

        <div class="row">
            <div class="col mx-1">
                <!-- EMPIEZAN VACANTES -->
                <!-- items que estan siendo paginados -->
                <div *ngFor="let item of pagedItems" id="vacantecontenedor" class="my-2 py-2">
                    <div id="vacantesmenu" (click)="mostrarDetalleVacante(item)" data-toggle="modal"
                        data-target="#datosvacantes">
                        <div class="row">
                            <div class="col-9">
                                <h6 style="color: yellow;">
                                    <strong>{{item.titulo_vacante}}</strong>
                                </h6>
                            </div>
                            <div class="col-3">
                                <h6>{{item.fecha_publicacion | date: 'longDate'}}</h6>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <h6>{{item.nombre_empresa}} ({{item.sueldo | currency:'MXN'}} MXN)
                                </h6>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <h6>{{item.entidad_federativa}}</h6>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <p class="d-none d-sm-block">
                                    {{item.descripcion_puesto | slice:0:190}}...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- TERMINA VACANTES -->
            </div>
        </div>

        <div *ngIf="!isLoading" class="row justify-content-center">
            <!-- paginacion -->
            <nav aria-label="Paginación">
                <ul class="pagination">
                    <li class="page-item" [ngClass]="{disabled:pager.currentPage == 1}">
                        <a class="page-link" (click)="setUrl(1)">Primera</a>
                    </li>
                    <li class="page-item" [ngClass]="{disabled:pager.currentPage == 1}">
                        <a class="page-link" (click)="setUrl(pager.currentPage - 1)">&laquo;</a>
                    </li>
                    <li class="page-item" *ngFor="let page of pager.pages"
                        [ngClass]="{active:pager.currentPage == page}">
                        <a class="page-link" (click)="setUrl(page)">{{page}}</a>
                    </li>
                    <li class="page-item" [ngClass]="{disabled:pager.currentPage == pager.totalPages}">
                        <a class="page-link" (click)="setUrl(+pager.currentPage + 1)">&raquo;</a>
                    </li>
                    <li class="page-item" [ngClass]="{disabled:pager.currentPage == pager.totalPages}">
                        <a class="page-link" (click)="setUrl(pager.totalPages)">Última</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<footer id="footer" class="text-center">
    <small>Copyright &copy; VOLAR IAP ✔ 🐱‍👤</small>
</footer>

<span *ngIf="isShow" (click)="gotoTop()" class="ir-arriba">
    <img src="/assets/arrowuo.png" height="15px" width="15px" alt="Arriba">
</span>

<!--===============================================================================================-->
<!-- Modal de los datos de las vacantes -->
<div class="modal fade" id="datosvacantes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-controls-modal="datosvacante" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: rgb(87, 4, 87);">
                <h5 style="color: white;">Detalles de la vacante</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span style="color: white;" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <h3>{{infoVacante.titulo_vacante}} </h3>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-12">
                                <h6>{{infoVacante.nombre_empresa}}</h6>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-12">
                                <h6>{{infoVacante.genero}}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-12">
                                <h6>{{infoVacante.puesto}}</h6>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-12">
                                <h6>{{infoVacante.sueldo | currency:'MXN'}} MXN</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-12">
                                <h6>{{infoVacante.entidad_federativa}}</h6>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-12">
                                <h6>{{infoVacante.fecha_publicacion | date: 'longDate'}}</h6>
                            </div>
                        </div>
                    </div>

                    <h4 style="margin-block-start: 2%;">Descripcion</h4>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-12">
                            <h6>{{infoVacante.descripcion_puesto}}</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button *ngIf="usuarioActual.id_tipo_usuario == 1" class="btn btn-primary"
                    (click)="postularCandidato(infoVacante.id_vacante)">
                    Postularme
                </button>

                <button *ngIf="usuarioActual.id_tipo_usuario == 0" class="btn btn-danger"
                    (click)="darDeBajaVacante(infoVacante)">
                    Eliminar
                </button>
            </div>
        </div>
    </div>
</div>