<app-headertittle></app-headertittle>
<!--inicia del cuerpo de la pagina del menu -->
<html>

<head>
    <meta charset="UTF-8">
    <TItle>Sitio web responsivo</TItle>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport"
        content="width-device-width, user-scalable=no, initial-scale=1.0, maxium-scale=1.0, minium-scale=1.0">
</head>
<div id="body">
    <span (click)="arriba()" class="ir-arriba "><img id="imagen" src="/assets/arrowuo.png" height="15px"
            width="15px" alt="Generic placeholder image">
    </span>

    <div class="border border-dark main">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-5 col-10">
                    <h6 id="titulo2" style="color:white;">Titulo de la vacante</h6>
                    <input type="text" class="form-control" placeholder="Titulo o Empresa"
                        [(ngModel)]="busqueda.InputTitulo">
                </div>
                <div id="ubicacionspace" class="col-lg-3 col-sm-5 col-10">
                    <h6 id="titulo2" style="color:white;">Ubicación</h6>
                    <input type="text" class="form-control" placeholder="Estado" [(ngModel)]="busqueda.InputUbicacion">
                </div>
                <div id="espaciobuscar" class=" col-lg-3 col-sm-5 col-7">
                    <button (click)="buscar()" class="Buscarspace btn btn-success">
                        Buscar
                    </button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" id="busquedaavanzada">
                <div class="drop-down-options-style col-lg-2 col-5 col-sm-3">
                    <select id="drop-down-options" class="form-control" name="select"
                        [(ngModel)]="busqueda.SelectedSalario">
                        <option value="0">Sueldos</option>
                        <option value="1">$0 - $5,000 MXN</option>
                        <option value="2">$5,000 - $10,000 MXN</option>
                        <option value="3">$10,000 - $15,000 MXN</option>
                        <option value="4">$15,000 - $20,000 MXN</option>
                        <option value="5">$20,000 - $30,000 MXN</option>
                        <option value="6">$30,000 - $40,000 MXN</option>
                        <option value="7">$40,000 - $60,000 MXN</option>
                        <option value="8">$60,000 - $80,000 MXN</option>
                        <option value="9">$80,000 - o más</option>
                    </select>
                </div>
                <div class="drop-down-options-style col-lg-2 col-5 col-sm-4">
                    <select id="drop-down-options" class="form-control selectpicker" name="select"
                        [(ngModel)]="busqueda.SelectedFecha">
                        <option value="0">Fecha</option>
                        <option value="1">Hace 1 semana</option>
                        <option value="2">Hace 2 semanas</option>
                        <option value="3">Hace 1 mes</option>
                        <option value="4">Hace 2 meses</option>
                        <option value="5">Hace 4 meses</option>
                        <option value="6">Hace 6 meses</option>
                    </select>
                </div>
                <div class="drop-down-options-style col-lg-2 col-8 col-sm-4">
                    <select id="drop-down-options" class="form-control" name="select"
                        [(ngModel)]="busqueda.SelectedArea">
                        <option value="0" selected>Áreas</option>
                        <option *ngFor="let area of areas" [value]="area.id_area_estudio">{{area.nombre}}</option>
                    </select>
                </div>
                <h6 id="limpiar" class=" col-lg-3 col-6 col-sm-5" (click)="limpiarFiltros()">Limpiar Filtros</h6>
            </div>
        </div>
    </div>
    <div style="margin-left: 10%; margin-block-start:4%;">
        <h6 style="color:black;">{{vacantes.length}} Ofertas de empleo actualmente</h6>
    </div>
    <div *ngFor="let vacante of vacantes" id="vacantecontenedor">
        <div data-toggle="modal" data-target="#datosvacante" id="vacantesmenu" class="row">
            <div data-toggle="modal" data-target="#datosvacante" class="col-lg-9 col-sm-9 col-9 ">
                <h6 style="color:yellow;">{{vacante.titulo_vacante}}</h6>
            </div>
            <div class="col-lg-3 col-sm-3 col-3">
                <h6 style="color:white;">{{vacante.fecha_publicacion | date: 'longDate'}}</h6>
            </div>
            <div data-toggle="modal" data-target="#datosvacante" class="col-lg-9">
                <h6 style="color: white;">{{vacante.nombre_empresa}}</h6>
            </div>
            <div data-toggle="modal" data-target="#datosvacante" class="col-lg-9">
                <h6 style="color:white;">{{vacante.entidad_federativa}}</h6>
            </div>
            <div data-toggle="modal" data-target="#datosvacante" class="col-lg-3">

            </div>
        </div>
        <h6 data-toggle="modal" data-target="#datosvacante" id="vacantesmenu">
            {{vacante.descripcion_puesto | slice:0:190}}...</h6>

    </div>

    <div style="height: 30px">
        <!-- SEPARADOR ENTRE FOOTER Y ULTIMO ELEMENTO -->
    </div>
</div>
<footer id="sticky-footer" class="static-bottom">
    <div class="container text-center">
        <small>Copyright &copy; VOLAR IAP ✔ 🐱‍👤</small>
    </div>
</footer>

</html>
<!--===============================================================================================-->
<!-- Modal de los datos de los usuarios -->
<div class="modal fade" id="datoscompletos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header border border-dark" style="background-color: rgb(87, 4, 87);">
                <h5 id="exampleModalLabel" class="col-12" style="margin-left:230px; color:white;">Registro de
                    informacion</h5>
            </div>
            <div class="modal-body" style="background-color: rgb(235, 235, 235);">
                <div style="margin-left:20px;" class="container">
                    <h6>Mi informacion </h6>
                    <div class="border border-dark col-sm-12 col-12"
                        style="width: 730px; height: 410px; margin-top: 5px; background-color: white">
                        <h6 style="margin-left: 5px;">Datos personales</h6>
                        <div class="row" style="margin-left: 15px;">
                            <div class="col-lg-1 col-2" id="titulo">
                                <h6>Nombre:</h6>
                            </div>
                            <div class="col-lg-4  col-3" style="margin-left: 12px;">
                                <input class="form-control input100" type="text">
                            </div>
                            <div class="col-lg-1 col-2" id="titulo">
                                <h6>Telefono:</h6>
                            </div>
                            <div class="col-lg-4 col-3" style="margin-left: 12px;">
                                <input class=" form-control input100" type="number">
                            </div>
                        </div>
                        <div class="row" style="margin-left: 15px;">
                            <div class="col-lg-1 col-2" id="titulo">
                                <h6>Primer apellido:</h6>
                            </div>
                            <div class="col-lg-4 col-3" style="margin-left: 10px; margin-block-start: 10px;">
                                <input id="input100" class="input100" type="text">
                            </div>
                            <div class="col-lg-1 col-2" id="titulo">
                                <h6>Correo electronico:</h6>
                            </div>
                            <div class="col-lg-4 col-3" style="margin-left: 30px; margin-block-start: 10px">
                                <input id="input100" class="input100" type="email">
                            </div>
                        </div>
                        <div class="row" style="margin-left: 15px;">
                            <div class="col-lg-1 col-2" id="titulo">
                                <h6>Segundo apellido:</h6>
                            </div>
                            <div class="col-lg-4 col-3" style="margin-left: 10px; margin-block-start: 10px">
                                <input id="input100" class="input100" type="text">
                            </div>
                            <div class="col-lg-1 col-2" id="titulo">
                                <h6>Genero:</h6>
                            </div>
                            <div class="col-lg-4 col-3" style="margin-left: 10px;">
                                <select class="form-control" name="select" style="margin-top: 10px; ">
                                    <option value="value1" selected>Hombre</option>
                                    <option value="value2">Mujer</option>
                                </select>
                            </div>
                            <div class="row" style="margin-left: 15px;">

                            </div>

                        </div>
                        <div class="row" style="margin-left: 15px;">
                            <div class="col-lg-4 col-2" id="titulo">
                                <h6>Fechad de nacimiento:</h6>
                            </div>
                            <div class="col-lg-4 col-3">
                                <input class="form-control" style="background-color: thistle;" id="date" type="date">
                            </div>

                        </div>

                        <h6 style="margin-left: 30px; margin-top: 20px;">Direccion</h6>
                        <div class="row" style="margin-left: 35px;">
                            <div class="col-lg-1 col-2" id="titulo">
                                <h6>Estado:</h6>
                            </div>
                            <div class="col-lg-4 col-3" style="margin-left: 10px;">
                                <select name="select" style="margin-top: 10px; width:100px;">
                                    <option value="value1" selected>Ejemplo 1</option>
                                    <option value="value2">Ejemplo 2</option>
                                </select>
                            </div>
                            <div class="col-lg-1 col-1" id="titulo">
                                <h6>Ciudad:</h6>
                            </div>
                            <div class="col-lg-4 col-3" style="margin-left: 30px;">
                                <input id="input100" class="input100" type="text">
                            </div>
                        </div>
                        <div class="row" style="margin-left: 35px;">
                            <div class="col-lg-1 col-2" id="titulo">
                                <h6>Colonia:</h6>
                            </div>
                            <div class="col-lg-4 col-3" style="margin-left: 10px;">
                                <input id="input100" class="input100" type="text">
                            </div>
                            <div class="col-lg-1 col-1" id="titulo">
                                <h6>Calle:</h6>
                            </div>
                            <div class="col-lg-4 col-3" style="margin-left: 30px;">
                                <input id="input100" class="input100" type="text">
                            </div>
                        </div>
                        <div class="row" style="margin-left: 35px;">
                            <div class="col-lg-1 col-2" id="titulo">
                                <h6>CP:</h6>
                            </div>
                            <div class="col-lg-4 col-3" style="margin-left: 10px;">
                                <input id="input100" class="input100" type="number">
                            </div>
                        </div>
                    </div>
                    <!--Aqui empieza la segunda tabla de llenado de datos-->
                    <div class="border border-dark col-sm-12 col-12"
                        style="width:730px; height: 200px; margin-top: 30px; background-color: white;">
                        <h6 style="margin-left: 5px;">Datos Laborales</h6>
                        <div class="row" style="margin-left: 35px;">
                            <div class="col-lg-3 col-6" id="titulo">
                                <h6>Grado de estudios:</h6>
                            </div>
                            <div class="col-lg-4 col-3" style="margin-left: 10px;">
                                <select name="select" style="margin-top: 10px; width:100px;">
                                    <option value="value1" selected>Ejemplo 1</option>
                                    <option value="value2">Ejemplo 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="margin-left: 35px;">
                            <div class="col-lg-3 col-6" id="titulo">
                                <h6>Area de estudios:</h6>
                            </div>
                            <div class="col-lg-4 col-3" style="margin-left: 10px;">
                                <select name="select" style="margin-top: 10px; width:100px;">
                                    <option value="value1" selected>Ejemplo 1</option>
                                    <option value="value2">Ejemplo 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="margin-left: 35px;">
                            <div class="col-lg-3 col-6" id="titulo">
                                <h6>Subarea de estudios:</h6>
                            </div>
                            <div class="col-lg-4 col-3" style="margin-left: 10px;">
                                <select name="select" style="margin-top: 10px; width:100px;">
                                    <option value="value1" selected>Ejemplo 1</option>
                                    <option value="value2">Ejemplo 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="margin-left: 35px;">
                            <div class="col-lg-3 col-5" id="titulo">
                                <h6>Subir Curriculum:</h6>
                            </div>
                            <div class="col-lg-4 col-6" id="titulo" style="margin-left: 10px;">
                                <button style="border-radius: 5px; background-color:dimgray; color: white;"
                                    class=" border border-dark">Icono - Examinar</button>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background-color: rgb(87, 4, 87);">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Omitir</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar</button>

            </div>
        </div>
    </div>
</div>
<!--===============================================================================================-->
<!-- Modal de los datos de las vacantes -->
<div class="modal fade" id="datosvacante" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header border border-dark" style="background-color: rgb(87, 4, 87);">
                <h5 class="col-8 col-sm-8 col-md-8" id="exampleModalLabel" style="margin-left:230px; color:white;">
                    INFORMACION DE LA VACANTE</h5>
            </div>
            <div class="modal-body">
                <div style="margin-left: 60px;">
                    <h4 style="margin-block-start: 20px; color:blue;">--------</h4>
                    <h6 style="margin-block-start: 30px;">----------</h6>
                    <h6 style="margin-block-start: 30px;">Contratacion:</h6>
                    <h6>----------------</h6>
                    <h6 style="margin-block-start: 30px;">Salario neto mensual</h6>
                    <h6>-------------------</h6>
                    <h6 style="margin-block-start: 30px;">Experiencia</h6>
                    <h6>------</h6>
                    <h6>-----------</h6>
                    <h6 style="margin-block-start: 30px;">Genero</h6>
                    <h6>Indefenido</h6>
                    <h6 style="margin-block-start: 30px;">Fecha de postulacion -------------- </h6>

                    <div class="row">
                        <div class="col-md-3">

                        </div>
                        <div>
                            <button class="btn btn-primary"
                                style="margin-block-start: 30px; height:50px; width:200px;">Postularme</button>

                        </div>

                    </div>
                </div>

            </div>
            <div class="modal-footer" style="background-color: rgb(87, 4, 87);">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>

<!--===============================================================================================-->
<!--===============================================================================================-->
<!-- Modal para editar una vacante -->
<div class="modal fade" id="editarvacante" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header border border-dark" style="background-color: rgb(87, 4, 87);">

                <h5 id="exampleModalLabel" style="margin-left:210px;"> EDITAR VACANTE</h5>
            </div>
            <div class="modal-body">
                <div style="margin-left: 40px;">
                    <h5>Datos de la vacante</h5>
                    <div style="margin-left: 20px;">
                        <div class="row">
                            <h6 style="margin-block-start: 15px;">Titulo de la vacante</h6>
                            <input style="width: 400px; margin-block-start: 10px; margin-left: 30px;"
                                placeholder="titulo">
                        </div>
                        <div class="row">
                            <h6 style="margin-block-start: 15px;">Nombre del puesto</h6>
                            <input style="width: 400px; margin-block-start: 10px; margin-left: 30px;"
                                placeholder="titulo">
                        </div>
                        <div class="row">
                            <h6 style="margin-block-start: 15px;">Descripcion del puesto</h6>
                            <textarea style="width: 400px; margin-block-start: 10px; margin-left: 10px;"></textarea>
                        </div>
                        <div class="row">
                            <h6 style="margin-block-start: 15px;">Area de estudio deseada</h6>
                            <select name="select" style="margin-left: 10px; width:120px; margin-block-start: 10px;">
                                <option value="">Opciones</option>
                                <option value="value1"> Ejemplo 1</option>
                                <option value="value2">Ejemplo 2</option>
                            </select>
                            <h6 style="margin-left: 20px;margin-block-start: 15px;">Subarea de estudio deseada</h6>
                            <select name="select" style="margin-left: 10px; width:170px; margin-block-start: 10px;">
                                <option value="">Opciones</option>
                                <option value="value1"> Ejemplo 1</option>
                                <option value="value2">Ejemplo 2</option>
                            </select>
                        </div>
                        <div class="row">
                            <h6 style="margin-block-start: 15px;">Genero</h6>
                            <select name="select" style="margin-left: 26px; width:120px; margin-block-start: 10px;">
                                <option value="">Opciones</option>
                                <option value="value1"> Ejemplo 1</option>
                                <option value="value2">Ejemplo 2</option>
                            </select>
                        </div>
                        <div class="row">
                            <h6 style="margin-block-start: 15px;">Direccion</h6>
                            <textarea style="width: 400px; margin-block-start: 10px; margin-left: 10px;"></textarea>

                        </div>
                        <div class="row">
                            <h6 style="margin-block-start: 15px;">Sueldo</h6>
                            <input style="width: 200px; margin-block-start: 10px; margin-left: 29px;"
                                placeholder="titulo">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background-color: rgb(87, 4, 87);">
                <button type="button" class="btn btn-success" data-dismiss="modal">Listo</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--===============================================================================================-->
<!-- Modal para registrar una vacante -->
<div class="modal fade" id="agregarvacante" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header border border-dark" style="background-color: rgb(87, 4, 87);">

                <h5 id="exampleModalLabel" style="margin-left:210px;">REGISTRO DE VACANTE / EDITAR VACANTE</h5>
            </div>
            <div class="modal-body">
                <div style="margin-left: 40px;">
                    <h5>Datos de la vacante</h5>
                    <div style="margin-left: 20px;">
                        <div class="row">
                            <h6 style="margin-block-start: 15px;">Titulo de la vacante</h6>
                            <input style="width: 400px; margin-block-start: 10px; margin-left: 30px;"
                                placeholder="titulo">
                        </div>
                        <div class="row">
                            <h6 style="margin-block-start: 15px;">Nombre del puesto</h6>
                            <input style="width: 400px; margin-block-start: 10px; margin-left: 30px;"
                                placeholder="titulo">
                        </div>
                        <div class="row">
                            <h6 style="margin-block-start: 15px;">Descripcion del puesto</h6>
                            <textarea style="width: 400px; margin-block-start: 10px; margin-left: 10px;"></textarea>
                        </div>
                        <div class="row">
                            <h6 style="margin-block-start: 15px;">Area de estudio deseada</h6>
                            <select name="select" style="margin-left: 10px; width:120px; margin-block-start: 10px;">
                                <option value="">Opciones</option>
                                <option value="value1"> Ejemplo 1</option>
                                <option value="value2">Ejemplo 2</option>
                            </select>
                            <h6 style="margin-left: 20px;margin-block-start: 15px;">Subarea de estudio deseada</h6>
                            <select name="select" style="margin-left: 10px; width:170px; margin-block-start: 10px;">
                                <option value="">Opciones</option>
                                <option value="value1"> Ejemplo 1</option>
                                <option value="value2">Ejemplo 2</option>
                            </select>
                        </div>
                        <div class="row">
                            <h6 style="margin-block-start: 15px;">Genero</h6>
                            <select name="select" style="margin-left: 26px; width:120px; margin-block-start: 10px;">
                                <option value="">Opciones</option>
                                <option value="value1"> Ejemplo 1</option>
                                <option value="value2">Ejemplo 2</option>
                            </select>
                        </div>
                        <div class="row">
                            <h6 style="margin-block-start: 15px;">Direccion</h6>
                            <textarea style="width: 400px; margin-block-start: 10px; margin-left: 10px;"></textarea>

                        </div>
                        <div class="row">
                            <h6 style="margin-block-start: 15px;">Sueldo</h6>
                            <input style="width: 200px; margin-block-start: 10px; margin-left: 29px;"
                                placeholder="titulo">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background-color: rgb(87, 4, 87);">
                <button type="button" class="btn btn-success" data-dismiss="modal">Registrar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--===============================================================================================-->
<!-- Modal para editar la informacion del usuario -->
<div class="modal fade" id="editardatosinfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header border border-dark" style="background-color: rgb(87, 4, 87);">
                <h5 id="exampleModalLabel" style="margin-left:230px;">Editar informacion</h5>
            </div>
            <div class="modal-body">
                <div style="margin-left:20px;">
                    <h6>Mi informacion</h6>
                    <div class="border border-dark" style="width: 730px; height: 370px; margin-top: 5px;">
                        <h6 style="margin-left: 5px;">Datos personales</h6>
                        <div class="row" style="margin-left: 15px;">
                            <div class="col-lg-1" id="titulo">
                                <h6 autofocus required>Nombre:</h6>
                            </div>
                            <div class="col-lg-4 " style="margin-left: 12px;">
                                <input class="form-control input100" type="text">
                            </div>
                            <div class="col-lg-1" id="titulo">
                                <h6>Telefono:</h6>
                            </div>
                            <div class="col-lg-4" style="margin-left: 12px;">
                                <input id="input100" class="input100" type="number">
                            </div>
                        </div>
                        <div class="row" style="margin-left: 15px;">
                            <div class="col-lg-1" id="titulo">
                                <h6>Primer apellido:</h6>
                            </div>
                            <div class="col-lg-4" style="margin-left: 10px; margin-block-start: 10px;">
                                <input id="input100" class="input100" type="text">
                            </div>
                            <div class="col-lg-1" id="titulo">
                                <h6>Correo electronico:</h6>
                            </div>
                            <div class="col-lg-4" style="margin-left: 30px; margin-block-start: 10px">
                                <input id="input100" class="input100" type="email">
                            </div>
                        </div>
                        <div class="row" style="margin-left: 15px;">
                            <div class="col-lg-1" id="titulo">
                                <h6>Segundo apellido:</h6>
                            </div>
                            <div class="col-lg-4" style="margin-left: 10px; margin-block-start: 10px">
                                <input id="input100" class="input100" type="email">
                            </div>
                        </div>
                        <div class="row" style="margin-left: 15px;">
                            <div class="col-lg-1" id="titulo">
                                <h6>Genero:</h6>
                            </div>
                            <div class="col-lg-4" style="margin-left: 10px;">
                                <select name="select" style="margin-top: 10px; width:200px;">
                                    <option value="value1" selected>Hombre</option>
                                    <option value="value2">Mujer</option>
                                </select>
                            </div>
                        </div>
                        <h6 style="margin-left: 30px; margin-top: 20px;">Direccion</h6>
                        <div class="row" style="margin-left: 35px;">
                            <div class="col-lg-1" id="titulo">
                                <h6>Estado:</h6>
                            </div>
                            <div class="col-lg-4" style="margin-left: 10px;">
                                <select name="select" style="margin-top: 10px; width:200px;">
                                    <option value="value1" selected>Ejemplo 1</option>
                                    <option value="value2">Ejemplo 2</option>
                                </select>
                            </div>
                            <div class="col-lg-1" id="titulo">
                                <h6>Ciudad:</h6>
                            </div>
                            <div class="col-lg-4" style="margin-left: 30px;">
                                <input id="input100" class="input100" type="text">
                            </div>
                        </div>
                        <div class="row" style="margin-left: 35px;">
                            <div class="col-lg-1" id="titulo">
                                <h6>Colonia:</h6>
                            </div>
                            <div class="col-lg-4" style="margin-left: 10px;">
                                <input id="input100" class="input100" type="text">
                            </div>
                            <div class="col-lg-1" id="titulo">
                                <h6>Calle:</h6>
                            </div>
                            <div class="col-lg-4" style="margin-left: 30px;">
                                <input id="input100" class="input100" type="text">
                            </div>
                        </div>
                        <div class="row" style="margin-left: 35px;">
                            <div class="col-lg-1" id="titulo">
                                <h6>CP:</h6>
                            </div>
                            <div class="col-lg-4" style="margin-left: 10px;">
                                <input id="input100" class="input100" type="number">
                            </div>
                        </div>
                    </div>
                    <!--Aqui empieza la segunda tabla de llenado de datos-->
                    <div class="border border-dark" style="width:730px; height: 200px; margin-top: 30px;">
                        <h6 style="margin-left: 5px;">Datos Laborales</h6>
                        <div class="row" style="margin-left: 35px;">
                            <div class="col-lg-3" id="titulo">
                                <h6>Grado de estudios:</h6>
                            </div>
                            <div class="col-lg-4" style="margin-left: 10px;">
                                <select name="select" style="margin-top: 10px; width:200px;">
                                    <option value="value1" selected>Ejemplo 1</option>
                                    <option value="value2">Ejemplo 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="margin-left: 35px;">
                            <div class="col-lg-3" id="titulo">
                                <h6>Area de estudios:</h6>
                            </div>
                            <div class="col-lg-4" style="margin-left: 10px;">
                                <select name="select" style="margin-top: 10px; width:200px;">
                                    <option value="value1" selected>Ejemplo 1</option>
                                    <option value="value2">Ejemplo 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="margin-left: 35px;">
                            <div class="col-lg-3" id="titulo">
                                <h6>Subarea de estudios:</h6>
                            </div>
                            <div class="col-lg-4" style="margin-left: 10px;">
                                <select name="select" style="margin-top: 10px; width:200px;">
                                    <option value="value1" selected>Ejemplo 1</option>
                                    <option value="value2">Ejemplo 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="margin-left: 35px;">
                            <div class="col-lg-3" id="titulo">
                                <h6>Subir Curriculum:</h6>
                            </div>
                            <div class="col-lg-4" style="margin-left: 10px;">
                                <button style="border-radius: 5px; background-color:dimgray; color: white;"
                                    class=" border border-dark">Icono - Examinar</button>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
            <div class="modal-footer" style="background-color: rgb(87, 4, 87);">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>