.body-content {
  /* background-image: url("/assets/background.png"); */
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}
#formulario-registro{
  margin: 4% auto 0px auto;
}
#contenedor_row{
  /* background-color: white; */
}
#volar_img{
  max-height: 500px;
  height: 95%;
  max-width: 600px;
  width: 100%;
}
#item_registro{
  margin: 10px 0px 0px 0px;
}
#btn_registrar{
  margin: 10px 0px 10px 0px;
}
h1{
  margin: 0px 0px 30px 0px;
  color: black;
}
h6{
  color: black;
}
hr{
  margin-bottom: 20px;
  border-top: 1px solid rgb(121, 24, 129);
}

.input-group-prepend{
  width: 50px;
}

#icon-input{
  height: 100%;
  width: 100%;
}

/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.custom-dropdown select {
  font-size: inherit;
  width: 100%;
  padding: 0.5em;
  padding-right: 2.5em;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: "";
  -webkit-appearance: none; /* hide default arrow in chrome OSX */
  -moz-appearance: none; /* Mozilla */
  -o-appearance: button; /* Opera */
  -ms-appearance: button; /* Internet Explorer */
  appearance: none; /* CSS3 */
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

/*  Custom dropdown arrow */
.custom-dropdown::after {
  content: "\25BC";
  height: 1em;
  font-size: 0.625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -0.5em;
  color: black !important;
}

/*  Custom dropdown arrow cover */
.custom-dropdown::before {
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0, 0, 0, 0.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0, 0, 0, 0.1);
}

.custom-dropdown::before {
  background-color: rgba(0, 0, 0, 0.15);
}

.custom-dropdown::after {
  color: rgba(0, 0, 0, 0.4);
}