<header>
  <app-header></app-header>
</header>

<div class="container">
  <div class="row" id="formulario-registro">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12" style="text-align: center;">
      <h1>Registro</h1>
      <hr>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
      <!-- correo electronico
        <input [(ngModel)]="nuevoUsuario.email" name="email" class="form-control" type="email"
          placeholder="Correo electrónico"> -->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><img src="../../../assets/man-user.png" alt="" id="icon-input"></span>
        </div>
        <input [(ngModel)]="nuevoUsuario.email" name="email" type="email" class="form-control"
          placeholder="Correo electrónico" aria-label="Correo electrónico">
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
      <!-- <input [(ngModel)]="nuevoUsuario.password" name="password" class=" form-control" type="password" name="pass"
          placeholder="Contraseña"> -->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><img src="../../../assets/password-icon.png" alt="" id="icon-input"></span>
        </div>
        <input [(ngModel)]="nuevoUsuario.password" name="password" type="password" class="form-control"
          placeholder="Contraseña" aria-label="Contraseña">
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
      <h6>Tipo de usuario</h6>
      <span class="custom-dropdown">
        <select class="form-control" [(ngModel)]="nuevoUsuario.id_tipo_usuario" name="select"
          style="padding-top: 10px; width:100%; ">
          <option value="1" selected>Candidato</option>
          <option value="2">Empresa</option>
        </select>
      </span>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12" style="text-align: right;">
      <hr>
      <button (click)="crear()" class="btn btn-primary my-2">
        Crear cuenta
      </button>
    </div>
  </div>
</div>