<app-headertittle></app-headertittle>
<body style="background-color: rgb(206, 211, 208); 	position: fixed; width:100%; height:100%; overflow:auto;">

  <div class="container" >
    <div class="row">
      <div class="col-lg-2">
        
      </div>
      <div>
          <div style=" margin-block-start: 40px;" class="col-4 col-sm-8 col-md-10">
              <h4>Mis postulaciones</h4>
              <h6>_________________________________________________________________________________________________________-</h6>
        
                <div style="margin-left: 15px;" >
                  <h6>Desarollo de software</h6>
                  <h6>Empresa importante en el giro informatico solicito PROGRAMADOR</h6>
                  <h6>DESARROLLO EMPRESARIAL</h6>
                  <div class="row" style="margin-left: 1px;">
                      <div class="col-md-11">
                        <h6>Fecha</h6>
                      </div>     
                      <div class="col-md-1">
                         <button  class="btn btn-primary" data-toggle="modal" data-target="#vermas">Ver mas</button>
                     </div>
        
                  </div>
              </div>
              <h6>_________________________________________________________________________________________________________-</h6>
            </div>
      </div>
    </div>
  
  </div>
   
</body>
<!--===============================================================================================-->
  <!-- Modal de los datos de los usuarios -->
  <div class="modal fade" id="vermas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header border border-dark" style="background-color: rgb(87, 4, 87);">
            
                  <h5 id="exampleModalLabel" style="margin-left:28%; color:white;">INFORMACION DE LA POSTULACION</h5>                  
            </div>
            <div class="modal-body">
               <div style="margin-left: 60px;">
                 <h4  style="margin-block-start: 20px; color:blue;">--------</h4>
                 <h6 style="margin-block-start: 30px;">----------</h6>
                 <h6 style="margin-block-start: 30px;">Contratacion:</h6>
                 <h6>----------------</h6>
                 <h6 style="margin-block-start: 30px;">Salario neto mensual</h6>
                 <h6>-------------------</h6>
                 <h6 style="margin-block-start: 30px;">Experiencia</h6>
                 <h6>------</h6>
                 <h6>-----------</h6>
                 <h6 style="margin-block-start: 30px;">Genero</h6>
                 <h6>Indefenido</h6>
                 <h6 style="margin-block-start: 30px;">Fecha de postulacion -------------- </h6>
                 <div class="row"> 
                    <div class="col-md-3">

                    </div>  
                    <div>
                        <button class="btn btn-danger"style="margin-block-start: 30px;" >Cancelar mi postulacion</button>

                    </div>
                        
                    </div>  
                 

               </div>
            </div>
            <div class="modal-footer" style="background-color: rgb(87, 4, 87);">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>    
            </div>
          </div>
        </div>
      </div>
    