<app-headertittle></app-headertittle>

<div class="container">
    <div class="row mt-4">
        <div class="col">
            <h3>REGISTRAR VACANTE</h3>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="tituloVacante">Título de la vacante</label>
                <input class="form-control" type="text" name="tituloVacante" id="tituloVacante"
                    [(ngModel)]="nuevaVacante.titulo_vacante">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="nombrePuesto">Nombre del puesto</label>
                <input class="form-control" type="text" name="nombrePuesto" id="nombrePuesto"
                    [(ngModel)]="nuevaVacante.puesto">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="sueldo">Sueldo</label>
                <input class="form-control" type="text" name="sueldo" id="sueldo" data-type="currency"
                    [(ngModel)]="nuevaVacante.sueldo">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="genero">Género preferente</label>
                <span class="custom-dropdown">
                    <select class="form-control" [(ngModel)]="nuevaVacante.genero">
                        <option value="" selected disabled>Seleccionar</option>
                        <option value="I">Indistinto</option>
                        <option value="H">Hombre</option>
                        <option value="M">Mujer</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="idAreaEstudio">Área de estudio</label>

                <p-autoComplete [(ngModel)]="areaEstudioSeleccionada" [suggestions]="areasFiltradas"
                    (completeMethod)="filtrarAreas($event)" field="nombre" placeholder="Ej: Informática"
                    [minLength]="2" [forceSelection]="true" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}">
                </p-autoComplete>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <label for="direccion">Dirección</label>
                <input class="form-control" type="text" name="direccion" id="direccion"
                    [(ngModel)]="nuevaVacante.direccion">
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label>Entidad federativa</label>

                <select class="form-control" [(ngModel)]="nuevaVacante.id_entidad_federativa">
                    <option value="-1" selected disabled>Seleccionar</option>
                    <option *ngFor="let ef of entidadesFederativas" [value]="ef.id">{{ef.nombre}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="descripcionPuesto">Descripción</label>
                <ckeditor (ready)="editor = $event" [editor]="ClassicEditor" [config]="EditorConfig"
                    [(ngModel)]="nuevaVacante.descripcion_puesto">
                </ckeditor>
            </div>
        </div>
    </div>

    <div class="row justify-content-end pb-4">
        <div class="col text-right">
            <button (click)="cancelar()"
                class="btn btn-outline-secondary btn-lg btn-wide mx-2 text-dark">CANCELAR</button>
            <button (click)="registrarVacante()" class="btn btn-primary btn-lg btn-wide mx-2">REGISTRAR</button>
        </div>
    </div>
</div>