<!-- Aqui empieza el navbar del administrador -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <img routerLink="/menu" class="modal-title" src="/assets/logo.png" style="margin-left: 1%;" height="40px"
    width="100px" alt="Generic placeholder image">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link dropdown show" style="width: 100%; cursor: pointer; ">Usuarios <span
            class="sr-only">(current)</span>
          <div class="dropdown-menu dropdown-content" aria-labelledby="dropdownMenuLink">
      <li class="nav-item active">
        <a class="nav-link" (click)="categorias(5)" id="Auxiliares" style="width: 100%; cursor: pointer; ">Auxiliares
          Administrativos <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" (click)="categorias(3)" id="usuarios"
          style="width: 100%; cursor: pointer; ">Solicitudes<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a style="cursor: pointer;" id="usuariosactivos" class="nav-link" (click)="categorias(4)">
          Candidatos</a>
      </li>
      <li class="nav-item active">
        <a style="cursor: pointer;" id="empresasActivas" class="nav-link" (click)="categorias(5)">
          Empresas</a>
      </li>
      <li class="nav-item active">
        <a style="cursor: pointer;" id="vacantesadmin" class="nav-link" (click)="categorias(6)">Vacantes</a>
      </li>
  </div>
  </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link dropdown show" style="width: 100%; cursor: pointer; ">Catalogos <span
        class="sr-only">(current)</span>
      <div class="dropdown-menu  dropdown-content" aria-labelledby="dropdownMenuLink">
  <li class="nav-item active">
    <a style="cursor: pointer;" class="nav-link" id="categoriaboton" (click)="categorias(1)">Categorias de
      empresas</a>
  </li>
  <li class="nav-item active">
    <a style="cursor: pointer;" class="nav-link" id="areas" (click)="categorias(2)">Areas de estudio</a>
  </li>
  <li class="nav-item active ">
    <a class="nav-link" style="width: 100%; color: rgb(160, 152, 230);" (click)="admin()">administrador <span
        class="sr-only">(current) </span></a>
  </li>
  </div>
  </a>
  </li>
  </ul>
  <a (click)="logout()" class="my-2 my-lg-0" style="color:white; margin-left: 10px; cursor: pointer;">Cerrar sesión</a>
  </div>
</nav>
<!-- En esta parte comienza el cuerpo de la pagina -->


  <div class="row" id="contenedor">
    <div class="col-lg-12" >
      <div *ngIf="estadoimagen">
        <mat-tab-group dynamicHeight>
          <mat-tab label="Registrar">
            <div class="row" id="estadoimagen">
              <div class="col-lg-10 col-sm-7 col-12" style="margin-left: 7%;">
                <div style="width: 100%; margin-block-start: 7%; background-color: rgb(121, 24, 129);">
                  <h5 style="text-align: center;  padding-block-start: 3%;">Registrar usuario auxiliar administrativo
                  </h5>
                  <div class="row" style="padding-left:13%;">
                    <div class="col-lg-5 col-sm-6 col-10">
                      <h6>Correo electronico:</h6>
                      <input type="text" class="form-control" placeholder="ejemplo@hotmail.com">
                    </div>
                    <div class="col-lg-5 col-sm-6 col-10">
                      <h6>Nombre:</h6>
                      <input type="text" class="form-control" placeholder="Usuario">
                    </div>
                  </div>
                  <div class="row" style="padding-left: 13%; padding-block-start: 2%;">
                    <div class="col-lg-5 col-sm-6 col-10">
                      <h6>Contraseña:</h6>
                      <input type="password" class="form-control">
                    </div>
                    <div class="col-lg-5 col-sm-6 col-10">
                      <h6>Confirmar contraseña:</h6>
                      <input type="password" class="form-control" placeholder="password">
                    </div>
                  </div>
                  <button class="btnuser form-control">Registrar</button>
                  <div style="height: 20px;"></div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Editar registros">
            <div id="estadoimagen">
              <div class="border border-dark"
                style="margin-block-start:15px; width: 100%; height:350px; background-color:white; overflow-y:scroll">
                <table mat-table [dataSource]="dataSource_Categorias" matSort class="lessons-table mat-elevation-z8">
                  <!-- Columna para nombre de la categoria -->
                  <ng-container matColumnDef="nombre_empresa">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                    <td mat-cell *matCellDef="let element"> </td>
                  </ng-container>

                  <!-- Columna para estatus -->
                  <ng-container matColumnDef="estatus">

                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
                    <td mat-cell *matCellDef="let element"> </td>

                  </ng-container>

                  <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let element" class="action-link">
                      <button mat-flat-button style="border-radius: 18px; background-color: #99679E; color:white"
                        data-target="#ModificarCAT" data-toggle="modal" data-backdrop="static"
                        (click)="detalleCategoria(element)">Editar</button>

                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="ColumnasCategorias"></tr>
                  <tr mat-row *matRowDef="let row; columns: ColumnasCategorias;"></tr>
                </table>


              </div>
              <div>
                <mat-paginator #PaginatorCategorias [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons>
                </mat-paginator>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      <!-- En esta parte comienza la configuracion de de las categorias de la empresa -->










































































      <div class="conteiner">
        <div *ngIf="estado === 1">
          <div style="margin-left: 5%;margin-top: 1%; ; ">
            <p-table #dt [value]="datosCategoria" [paginator]="true" [rowsPerPageOptions]="[5,10,20]" [rows]="10"
              [globalFilterFields]="['nombre_empresa']" editMode="row" dataKey="id_tipo_empresa">
              <ng-template pTemplate="caption">
                <div style="text-align: right">
                  <i class="material-icons">search</i>
                  <input type="text" pInputText size="50" placeholder="Filtrar"
                    (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th *ngFor="let columna of columnasCategoria" [pSortableColumn]="columna.field">
                    {{columna.header}}
                    <p-sortIcon [field]="columna.field"></p-sortIcon>
                  </th>
                  <th style="width:8em"></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-datosCategoria let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="datosCategoria">
                  <td>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="infoCategoria.nombre_empresa" id="modCategoria"
                          required>
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{datosCategoria.nombre_empresa}}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <p-dropdown [options]="estatus" [(ngModel)]="infoCategoria.estatus" [style]="{'width':'100%'}">
                        </p-dropdown>
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{estatus_categorias(datosCategoria.estatus)}}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td style="text-align:center">
                    <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil"
                      class="ui-button-info"
                      (click)="onRowEditCategoria(datosCategoria);detalleCategoria(datosCategoria)"></button>
                    <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
                      class="ui-button-success" style="margin-right: .5em" (click)="updateCategoria()"></button>
                    <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
                      class="ui-button-danger" (click)="onRowEditCancelCategoria(datosCategoria, ri)"></button>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="summary" let-datosCategoria>
                <div style="text-align:left">
                  <button type="button" pButton icon="fa fa-plus" (click)="dialogAddCategoria()"
                    label="Añadir"></button>
                </div>
              </ng-template>
            </p-table>


          </div>
        </div>
      </div>



























































































      <!-- En esta parte comienza la configuracion de areas de estudio -->
      <div class="conteiner">
        <div *ngIf="estado === 2">
          <div style="margin-left: 5%; margin-top: 1%; ; ">
            <p-table #dt [value]="datosArea" [paginator]="true" [rowsPerPageOptions]="[5,10,20]" [rows]="10"
              [globalFilterFields]="['nombre']" editMode="row" dataKey="id_area_estudio">
              <ng-template pTemplate="caption">
                <div style="text-align: right">
                  <i class="material-icons">search</i>
                  <input type="text" pInputText size="50" placeholder="Filtrar"
                    (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th *ngFor="let columna of columnasArea" [pSortableColumn]="columna.field">
                    {{columna.header}}
                    <p-sortIcon [field]="columna.field"></p-sortIcon>
                  </th>
                  <th style="width:8em"></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-datosArea let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="datosArea">
                  <td>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="infoArea.nombre" id="modArea" required>
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{datosArea.nombre}}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <p-dropdown [options]="estatus" [(ngModel)]="infoArea.estatus" [style]="{'width':'100%'}">
                        </p-dropdown>
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{estatus_areas(datosArea.estatus)}}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td style="text-align:center">
                    <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil"
                      class="ui-button-info" (click)="onRowEditArea(datosArea);detalleArea(datosArea)"></button>
                    <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
                      class="ui-button-success" style="margin-right: .5em" (click)="updateArea()"></button>
                    <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
                      class="ui-button-danger" (click)="onRowEditCancelArea(datosArea, ri)"></button>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="summary" let-datosArea>
                <div style="text-align:left">
                  <button type="button" pButton icon="fa fa-plus" (click)="dialogAddArea()" label="Añadir"></button>
                </div>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
























      <!-- En esta parte comienza la verificacion de las solicitudes de los usuario -->
      <div class="container-fluid" style="overflow: auto;">
        <div *ngIf="estado === 3">
          <div style="margin-left: 1%; margin-top: 1%;">
            <div *ngFor="let val of datos_solicitud; index as i"
              class="border border-primary border-left-0 border-right-0"
              style="width: 99%; height:50%; margin-block-start: 3%; background-color: rgb(121, 24, 129); border-radius: 20px;">
              <div class="row">
                <div class="col-lg-9 col-sm-9 col-12">
                  <h6 style="font-size: 20px; color:white; margin-block-start: 1%; margin-left: 1%;">Nombre del usuario:
                    {{val.nombre}}</h6>
                  <div class="row" style="margin-left: 1%;">
                    <div class="col-lg-12 col-sm-12 col-12">
                      <div class="row">
                        <div class="col-lg-6 col-sm-6 col-9">
                          <h6 style="margin-block-start: 2%; color:white;">Telefono: {{val.telefono}}</h6>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12">
                          <h6 style="margin-block-start: 2%; color:white;">Correo Electronico: {{val.email}}</h6>
                        </div>
                      </div>
                      <div class="row" style="margin-block-start: 1%;">
                        <div class="col-lg-6 col-sm-6 col-9">
                          <h6 style="color:white;">Genero: {{val.genero}}</h6>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12">
                          <h6 style="color:white;">Fecha de nacimiento: {{val.fecha_nacimiento}}</h6>
                        </div>
                      </div>
                      <div>
                        <h6>otros datos.......</h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-12">
                  <button class="form-control btn">Aceptar Solicitud</button>
                </div>
              </div>
            </div>
            <div style="height:80px; background-color:transparent;">
            </div>
          </div>
        </div>
      </div>





      <!-- En esta parte comienza la configuracion de los candidatos registrados -->
      <div class="conteiner">
        <div *ngIf="estado === 4">
          <div style="margin-left: 10%; margin-top: 1%;">
            <div class="row" style="width: 98%;">
              <div class="col-lg-6 col-sm-4 col-5">
                <div class="form-check" style="margin-block-start: 2%;">
                  <input class="form-check-input" type="radio" name="filtroUsuarios" id="radioButtonUsuariosActivos"
                    value="option1" (click)="getCandidatos('Alta')" checked>Usuarios activos
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="filtroUsuarios" id="radioButtonUsuariosEliminados"
                    value="option2" (click)="getCandidatos('Baja')"> Usuarios inactivos
                </div>
              </div>
              <p-table #dtCandidatos [columns]="columnasCandidato" [value]="datosCandidato" dataKey="id_usuario" [paginator]="true"
                [rowsPerPageOptions]="[5,10,20]" [rows]="10" [globalFilterFields]="['candidato','genero','telefono','email']" >
                <ng-template pTemplate="caption">
                  <div style="text-align: right">
                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                    <input type="text" pInputText size="50" placeholder="Filtrar"
                      (input)="dtCandidatos.filterGlobal($event.target.value, 'contains')" style="width:auto">
                  </div>
                </ng-template>
                <ng-template pTemplate="header" let-columnas>
                  <tr>
                    <th style="width: 3em"></th>
                    <th *ngFor="let columna of columnasCandidato">
                      {{columna.header}}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columnas="columnas">
                  <tr>
                    <td>
                      <a href="#" [pRowToggler]="rowData">
                        <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                      </a>
                    </td>
                    <td *ngFor="let columna of columnasCandidato">
                      {{rowData[columna.field]}}
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-rowData let-columnas="columnasCandidato">
                  <tr>
                    <td [attr.colspan]="columnasCandidato.length + 1">
                      <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
                        <div class="ui-g-12 ui-md-9">
                          <div class="ui-g">
                            <div class="ui-g-12">
                              <b>Fecha de nacimiento:</b> {{rowData.fecha_nacimiento}}
                            </div>
                            <div class="ui-g-12">
                              <b>Dirección:</b> {{rowData.direccion}}
                            </div>
                            <div class="ui-g-12">
                              <b>Grado de estudio:</b> {{rowData.gradoestudio}}
                            </div>
                            <div class="ui-g-12">
                              <b>Area de estudio:</b> {{rowData.areaestudio}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>











      <!-- En esta parte comienza la configuracion de las empresas registradas -->
      <div class="conteiner">
        <div *ngIf="estado === 5">
          <div style="margin-left: 10%; margin-top: 1%; ; ">
            <div class="row" style="width: 98%;">
              <div class="col-lg-6 col-sm-4 col-5">
                <div class="form-check" style="margin-block-start: 2%;">
                  <input class="form-check-input" type="radio" name="filtroEmpresas" id="radioButtonEmpresaActivos"
                    value="option1" (click)="getEmpresas('Alta')" checked>Empresas activas
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="filtroEmpresas" id="radioButtonEmpresaEliminados"
                    value="option2" (click)="getEmpresas('Baja')">Empresas inactivas
                </div>





              </div>
              <p-table #dt [columns]="columnasEmpresa" [value]="datosEmpresa" dataKey="id_usuario" [paginator]="true"
              [rowsPerPageOptions]="[5,10,20]" [rows]="10" [globalFilterFields]="['empresa','email','telefono','nombre_persona_contacto']">
              <ng-template pTemplate="caption">
                <div style="text-align: right">
                  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                  <input type="text" pInputText size="50" placeholder="Filtrar"
                    (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                </div>
              </ng-template>
                <ng-template pTemplate="header" let-columnas>
                  <tr>
                    <th style="width: 3em"></th>
                    <th *ngFor="let columna of columnasEmpresa">
                      {{columna.header}}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columnas="columnas">
                  <tr>
                    <td>
                      <a href="#" [pRowToggler]="rowData">
                        <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                      </a>
                    </td>
                    <td *ngFor="let col of columnasEmpresa">
                      {{rowData[col.field]}}
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-rowData let-columnas="columnasEmpresa">
                  <tr>
                    <td [attr.colspan]="columnasEmpresa.length + 1">
                      <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
                        <div class="ui-g-12 ui-md-9">
                          <div class="ui-g">
                            <div class="ui-g-12">
                              <b>RFC:</b> {{rowData.rfc}}
                            </div>
                            <div class="ui-g-12">
                              <b>Dirección:</b> {{rowData.direccion}}
                            </div>
                            <div class="ui-g-12">
                              <b>Página web:</b> {{rowData.pagina_web}}
                            </div>
                            <div class="ui-g-12">
                              <b>Tipo de empresa:</b> {{rowData.tipoempresa}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>

















      <!-- En esta parte comienza la configuracion de las vacantes de los usuarios -->
      <div class="container">
        <div *ngIf="estado === 6">
          <div class="border border-dark"
            style="margin-block-start:12%; width: 100%; height:350px; background-color:white; overflow-y:scroll">
            <table mat-table [dataSource]="dataSource_Categorias" matSort class="lessons-table mat-elevation-z8">
              <!-- Columna para nombre de la categoria -->
              <ng-container matColumnDef="nombre_empresa">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong> Nombre </strong></th>
                <td mat-cell *matCellDef="let element"> </td>
              </ng-container>

              <!-- Columna para estatus -->
              <ng-container matColumnDef="estatus">

                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
                <td mat-cell *matCellDef="let element"> </td>

              </ng-container>

              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element" class="action-link">
                  <button mat-flat-button data-target="#ModificarCAT" data-toggle="modal"
                    class="btn btn-outline-secondary form-control" data-backdrop="static"
                    (click)="detalleCategoria(element)">Editar</button>

                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="ColumnasCategorias"></tr>
              <tr mat-row *matRowDef="let row; columns: ColumnasCategorias;"></tr>
            </table>


          </div>
          <div>
            <mat-paginator #PaginatorCategorias [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons>
            </mat-paginator>
          </div>
        </div>
      </div>
      <!-- aqui comienza el codigo para el dashBoard  -->
      <div class="conteiner">
        <div *ngIf="estadoimagen === false">

        </div>
      </div>
    </div>
  </div>

<!--===============================================================================================-->



<div *ngIf="isLoading" class="container">
  <app-loading></app-loading>
</div>


<p-dialog header="Categoria" [(visible)]="displayDialogCategoria" [focusOnShow]="false" [responsive]="true"
  showEffect="fade" [modal]="true" [style]="{width: '300px'}">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label>Nombre</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="nomCategoria" [(ngModel)]="nuevaCategoria.nombre_categoria" autofocus />
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-check" (click)="add_CategoriaEmpresa()" label="Guardar"></button>
    </div>
  </p-footer>
</p-dialog>


<p-dialog header="Area" [(visible)]="displayDialogArea" [focusOnShow]="false" [responsive]="true" showEffect="fade"
  [modal]="true" [style]="{width: '300px'}">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label>Nombre</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="nomArea" [(ngModel)]="nuevaArea.nombre" autofocus />
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-check" (click)="add_areaEstudio()" label="Guardar"></button>
    </div>
  </p-footer>
</p-dialog>
