<!-- Aqui empieza el navbar del administrador -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <img routerLink="/menu"  class="modal-title" src="/assets/logo.png" style="margin-left: 1%;" height="40px" width="100px"
    alt="Generic placeholder image">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link dropdown show" style="width: 100%; cursor: pointer; ">Usuarios <span
            class="sr-only">(current)</span>
          <div class="dropdown-menu dropdown-content" aria-labelledby="dropdownMenuLink">
      <li class="nav-item active">
        <a class="nav-link" (click)="categorias(5)" id="Auxiliares" style="width: 100%; cursor: pointer; ">Auxiliares
          Administrativos <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" (click)="categorias(3)" id="usuarios"
          style="width: 100%; cursor: pointer; ">Solicitudes<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a style="cursor: pointer;" id="usuariosactivos" class="nav-link" (click)="categorias(4)">
          registrados</a>
      </li>
      <li class="nav-item active">
        <a style="cursor: pointer;" id="vacantesadmin" class="nav-link" (click)="categorias(6)">Vacantes</a>
      </li>
  </div>
  </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link dropdown show" style="width: 100%; cursor: pointer; ">Categorias <span
        class="sr-only">(current)</span>
      <div class="dropdown-menu  dropdown-content" aria-labelledby="dropdownMenuLink">
  <li class="nav-item active">
    <a style="cursor: pointer;" class="nav-link" id="categoriaboton" (click)="categorias(1)">Categorias de
      empresas</a>
  </li>
  <li class="nav-item active">
    <a style="cursor: pointer;" class="nav-link" id="areas" (click)="categorias(2)">Areas de estudio</a>
  </li>
  <li class="nav-item active ">
    <a class="nav-link" style="width: 100%; color: rgb(160, 152, 230);" (click)="admin()">administrador <span
        class="sr-only">(current) </span></a>
  </li>
  </div>
  </a>
  </li>
  </ul>
  <a (click)="logout()" class="my-2 my-lg-0" style="color:white; margin-left: 10px; cursor: pointer;">Cerrar sesión</a>
  </div>
</nav>
<!-- En esta parte comienza el cuerpo de la pagina -->

<body style="background-color: rgb(206, 211, 208); 	position: fixed; width:100%; height:100%;">
  <div class="row" id="contenedor">
    <div class="col-lg-12" id="contenedor2">
      <div *ngIf="estadoimagen">
        <mat-tab-group dynamicHeight>
          <mat-tab label="Registrar">
            <div class="row" id="estadoimagen">
              <div class="col-lg-10 col-sm-7 col-12" style="margin-left: 7%;">
                <div style="width: 100%; margin-block-start: 7%; background-color: rgb(121, 24, 129);">
                  <h5 style="text-align: center;  padding-block-start: 3%;">Registrar usuario auxiliar administrativo
                  </h5>
                  <div class="row" style="padding-left:13%;">
                    <div class="col-lg-5 col-sm-6 col-10">
                      <h6>Correo electronico:</h6>
                      <input type="text" class="form-control" placeholder="ejemplo@hotmail.com">
                    </div>
                    <div class="col-lg-5 col-sm-6 col-10">
                      <h6>Nombre:</h6>
                      <input type="text" class="form-control" placeholder="Usuario">
                    </div>
                  </div>
                  <div class="row" style="padding-left: 13%; padding-block-start: 2%;">
                    <div class="col-lg-5 col-sm-6 col-10">
                      <h6>Contraseña:</h6>
                      <input type="password" class="form-control">
                    </div>
                    <div class="col-lg-5 col-sm-6 col-10">
                      <h6>Confirmar contraseña:</h6>
                      <input type="password" class="form-control" placeholder="password">
                    </div>
                  </div>
                  <button class="btnuser form-control">Registrar</button>
                  <div style="height: 20px;"></div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Editar registros">
            <div id="estadoimagen">
              <div class="border border-dark"
                style="margin-block-start:15px; width: 100%; height:350px; background-color:white; overflow-y:scroll">
                <table mat-table [dataSource]="dataSource_Categorias" matSort class="lessons-table mat-elevation-z8">
                  <!-- Columna para nombre de la categoria -->
                  <ng-container matColumnDef="nombre_empresa">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                    <td mat-cell *matCellDef="let element"> </td>
                  </ng-container>

                  <!-- Columna para estatus -->
                  <ng-container matColumnDef="estatus">

                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
                    <td mat-cell *matCellDef="let element"> </td>

                  </ng-container>

                  <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let element" class="action-link">
                      <button mat-flat-button style="border-radius: 18px; background-color: #99679E; color:white"
                        data-target="#ModificarCAT" data-toggle="modal" data-backdrop="static"
                        (click)="detalleCategoria(element)">Editar</button>

                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="ColumnasCategorias"></tr>
                  <tr mat-row *matRowDef="let row; columns: ColumnasCategorias;"></tr>
                </table>


              </div>
              <div style=" margin-top: 1%; ; ">
                <mat-paginator #PaginatorCategorias [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons>
                </mat-paginator>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      <!-- En esta parte comienza la configuracion de de las categorias de la empresa -->
      <div class="conteiner">
        <div *ngIf="estado === 1">
          <div style="margin-left: 10%; margin-top: 1%; ; ">
            <div class="row">
              <div class="col-lg-4 col-sm-6 col-6">
                <div style="  margin-left:1%; width: 100%; ">
                  <div class="searchBox">
                    <input [(ngModel)]="nuevaCategoria.nombre_categoria" id="categoria" class="searchInput" type="text"
                      autocomplete="off" placeholder="Nombre de la categoria">
                    <button class="searchButton" (click)="inputeffec()">
                      <i class="material-icons">
                        note_add
                      </i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-sm-3 col-6 ">
                <button class="btnregistrar" mat-flat-button (click)="add_CategoriaEmpresa()">Registrar</button>
              </div>
              <div class="col-lg-4 col-sm-3 col-12 ">
                <input id="input" matInput (keyup)="applyFilterCategorias($event.target.value)" placeholder="Buscar"
                  type="text">
              </div>
            </div>
            <div class="border border-dark"
              style="margin-block-start:5px; width: 90%; height:350px; background-color:white; overflow-y:scroll">
              <table mat-table [dataSource]="dataSource_Categorias" matSort class="lessons-table mat-elevation-z8">
                <!-- Columna para nombre de la categoria -->
                <ng-container matColumnDef="nombre_empresa">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                  <td mat-cell *matCellDef="let element"> {{element.nombre_empresa}} </td>
                </ng-container>

                <!-- Columna para estatus -->
                <ng-container matColumnDef="estatus">

                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
                  <td mat-cell *matCellDef="let element"> {{estatus_categorias(element.estatus)}} </td>

                </ng-container>

                <ng-container matColumnDef="acciones">
                  <th mat-header-cell *matHeaderCellDef> Acciones </th>
                  <td mat-cell *matCellDef="let element" class="action-link">
                    <button mat-flat-button style="border-radius: 18px; background-color: #99679E; color:white"
                      data-target="#ModalModificarCat" data-toggle="modal" data-backdrop="static"
                      (click)="detalleCategoria(element)">Editar</button>

                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="ColumnasCategorias"></tr>
                <tr mat-row *matRowDef="let row; columns: ColumnasCategorias;"></tr>
              </table>

            </div>
            <div style="margin-right: 10%; margin-top: 1%; ">
              <mat-paginator #PaginatorCategorias [pageSizeOptions]="[6, 12, 18]" showFirstLastButtons></mat-paginator>
            </div>
          </div>
        </div>
      </div>
      <!-- En esta parte comienza la configuracion de areas de estudio -->
      <div class="conteiner">
        <div *ngIf="estado === 2">
          <div style="margin-left: 10%; margin-top: 1%; ; ">
            <div class="row">
              <div class="col-lg-4 col-sm-4 col-8">
                <div style="margin-right: 40%; margin-left:1%; width: 100%; ">
                  <div class="searchBox">
                    <input [(ngModel)]="nuevaArea.nombre" id="area" class="searchInput" type="text" autocomplete="off"
                      placeholder="Nombre de la area">
                    <button class="searchButton" (click)="inputeffec()">
                      <i class="material-icons">
                        note_add
                      </i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-sm-2 col-2">
                <div>
                  <button class="btnregistrar" mat-flat-button (click)="add_areaEstudio()">Registrar</button>
                </div>

              </div>
              <div class="col-lg-4 col-sm-4 col-12">
                <div class="menu">
                  <input id="input" matInput (keyup)="applyFilterAreas($event.target.value)" placeholder="Buscar"
                    type="text">
                  <div class="search"></div>
                </div>
              </div>
            </div>

            <div class="border border-dark"
              style="margin-block-start: 5px; width: 90%; height:350px; background-color:white; overflow-y:scroll">

              <table mat-table [dataSource]="dataSource_AreasEstudio" matSort class="lessons-table mat-elevation-z8">
                <!-- Columna para nombre del area de esutdio -->
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                  <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                </ng-container>

                <!-- Columna para estatus -->
                <ng-container matColumnDef="estatus">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
                  <td mat-cell *matCellDef="let element"> {{estatus_areas(element.estatus)}} </td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                  <th mat-header-cell *matHeaderCellDef> Acciones </th>
                  <td mat-cell *matCellDef="let element" class="action-link">
                    <button mat-flat-button style="border-radius: 18px; background-color: #99679E; color:white"
                      data-target="#ModalModificarAreas" data-toggle="modal" data-backdrop="static"
                      (click)="detalleArea(element)">Editar</button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="ColumnasAreas"></tr>
                <tr mat-row *matRowDef="let row; columns: ColumnasAreas;"></tr>
              </table>

            </div>
            <div style="margin-right: 10%; margin-top: 1%; ; ">
              <mat-paginator #PaginatorAreas [pageSizeOptions]="[6, 12, 18]" showFirstLastButtons></mat-paginator>
            </div>
          </div>
        </div>
      </div>
      <!-- En esta parte comienza la verificacion de las solicitudes de los usuario -->
      <div class="container-fluid" style="overflow: auto;">
        <div *ngIf="estado === 3">
          <div style="margin-left: 1%; margin-top: 1%;">
            <div *ngFor="let val of datos_solicitud; index as i"
              class="border border-primary border-left-0 border-right-0"
              style="width: 99%; height:50%; margin-block-start: 3%;">
              <h6 style="font-size: 20px; color:black;">Nombre del usuario: {{val.nombre}}</h6>
              <div class="row">
                <div class="col-lg-12 col-sm-12 col-12">
                  <div class="row">
                    <div class="col-lg-6 col-sm-6 col-9">
                      <h6 style="margin-block-start: 2%; color:black;">Telefono: {{val.telefono}}</h6>
                    </div>
                    <div class="col-lg-5 col-sm-6 col-12">
                      <h6 style="margin-block-start: 2%; color:black;">Correo Electronico: {{val.email}}</h6>
                    </div>
                  </div>
                  <div class="row" style="margin-block-start: 1%;">
                    <div class="col-lg-6 col-sm-6 col-9">
                      <h6 style="color:black;">Genero: {{val.genero}}</h6>
                    </div>
                    <div class="col-lg-5 col-sm-6 col-12">
                      <h6 style="color:black;">Fecha de nacimiento: {{val.fecha_nacimiento}}</h6>
                      <button class="form*control btn" style="margin-block-end: 4%;">Aceptar Solicitud</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div style="height:80px; background-color:transparent;">

            </div>
          </div>
        </div>
      </div>
      <!-- En esta parte comienza la configuracion de los usuarios registrados -->
      <div class="conteiner">
        <div *ngIf="estado === 4">
          <mat-tab-group>
            <mat-tab label="Candidatos">
              <div style="margin-left: 10%; margin-top: 1%; ; ">
                <div class="row">
                  <div class="col-lg-4 col-sm-4 col-5">
                    <div style="margin-right: 40%; margin-left:1%; width: 100%;  ">
                      <mat-form-field>
                        <input matInput (keyup)="applyFilterAreas($event.target.value)" placeholder="Filtrar">
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="border border-dark"
                  style="width: 90%; height:350px; background-color:white; overflow-y:scroll">

                  <table mat-table [dataSource]="dataSource_Candidatos" matSort class="lessons-table mat-elevation-z8">
                    <!-- Columna para email del candidato -->
                    <ng-container matColumnDef="email">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>

                    <!-- Columna para el nombre del candidato -->
                    <ng-container matColumnDef="candidato">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Candidato </th>
                      <td mat-cell *matCellDef="let element"> {{element.candidato}} </td>
                    </ng-container>

                    <ng-container matColumnDef="estatus">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
                      <td mat-cell *matCellDef="let element"> {{element.estatus}} </td>
                    </ng-container>
                    <!-- <ng-container matColumnDef="acciones">
                      <th mat-header-cell *matHeaderCellDef> Acciones </th>
                      <td mat-cell *matCellDef="let element" class="action-link">
                        <button mat-flat-button style="border-radius: 18px; background-color: #99679E; color:white"
                          data-target="#areas1" data-toggle="modal" data-backdrop="static"
                          (click)="detalleArea(element)">Editar</button>

                      </td>
                    </ng-container> -->

                    <tr mat-header-row *matHeaderRowDef="ColumnasCandidatos"></tr>
                    <tr mat-row *matRowDef="let row; columns: ColumnasCandidatos;"></tr>
                  </table>

                </div>
                <div style="margin-right: 10%; margin-top: 1%; ; ">
                  <mat-paginator #PaginatorAreas [pageSizeOptions]="[6, 12, 18]" showFirstLastButtons></mat-paginator>
                </div>

              </div>
            </mat-tab>
            <mat-tab label="Empresas">

            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
      <!-- En esta parte comienza la configuracion de las vacantes de los usuarios -->
      <div class="conteiner">
        <div *ngIf="estado === 6">

        </div>
      </div>
      <!-- aqui comienza el codigo para el dashBoard  -->
      <div class="conteiner">
        <div *ngIf="estadoimagen === false">
          <!-- dashBoard -->

          <!-- <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card card-stats">
                    <div class="card-body ">
                      <div class="row">
                        <div class="col-5 col-md-4">
                          <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-globe text-warning"></i>
                          </div>
                        </div>
                        <div class="col-7 col-md-8">
                          <div class="numbers">
                            <p class="card-category">Capacity</p>
                            <p class="card-title">150GB
                              <p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer ">
                      <hr>
                      <div class="stats">
                        <i class="fa fa-refresh"></i> Update Now
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card card-stats">
                    <div class="card-body ">
                      <div class="row">
                        <div class="col-5 col-md-4">
                          <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-money-coins text-success"></i>
                          </div>
                        </div>
                        <div class="col-7 col-md-8">
                          <div class="numbers">
                            <p class="card-category">Revenue</p>
                            <p class="card-title">$ 1,345
                              <p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer ">
                      <hr>
                      <div class="stats">
                        <i class="fa fa-calendar-o"></i> Last day
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card card-stats">
                    <div class="card-body ">
                      <div class="row">
                        <div class="col-5 col-md-4">
                          <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-vector text-danger"></i>
                          </div>
                        </div>
                        <div class="col-7 col-md-8">
                          <div class="numbers">
                            <p class="card-category">Errors</p>
                            <p class="card-title">23
                              <p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer ">
                      <hr>
                      <div class="stats">
                        <i class="fa fa-clock-o"></i> In the last hour
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card card-stats">
                    <div class="card-body ">
                      <div class="row">
                        <div class="col-5 col-md-4">
                          <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-favourite-28 text-primary"></i>
                          </div>
                        </div>
                        <div class="col-7 col-md-8">
                          <div class="numbers">
                            <p class="card-category">Followers</p>
                            <p class="card-title">+45K
                              <p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer ">
                      <hr>
                      <div class="stats">
                        <i class="fa fa-refresh"></i> Update now
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="card ">
                    <div class="card-header ">
                      <h5 class="card-title">Users Behavior</h5>
                      <p class="card-category">24 Hours performance</p>
                    </div>
                    <div class="card-body ">
                      <canvas id=chartHours width="400" height="100"></canvas>
                    </div>
                    <div class="card-footer ">
                      <hr>
                      <div class="stats">
                        <i class="fa fa-history"></i> Updated 3 minutes ago
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="card ">
                    <div class="card-header ">
                      <h5 class="card-title">Email Statistics</h5>
                      <p class="card-category">Last Campaign Performance</p>
                    </div>
                    <div class="card-body ">
                      <canvas id="chartEmail"></canvas>
                    </div>
                    <div class="card-footer ">
                      <div class="legend">
                        <i class="fa fa-circle text-primary"></i> Opened
                        <i class="fa fa-circle text-warning"></i> Read
                        <i class="fa fa-circle text-danger"></i> Deleted
                        <i class="fa fa-circle text-gray"></i> Unopened
                      </div>
                      <hr>
                      <div class="stats">
                        <i class="fa fa-calendar"></i> Number of emails sent
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="card card-chart">
                    <div class="card-header">
                      <h5 class="card-title">NASDAQ: AAPL</h5>
                      <p class="card-category">Line Chart with Points</p>
                    </div>
                    <div class="card-body">
                      <canvas id="speedChart" width="400" height="100"></canvas>
                    </div>
                    <div class="card-footer">
                      <div class="chart-legend">
                        <i class="fa fa-circle text-info"></i> Tesla Model S
                        <i class="fa fa-circle text-warning"></i> BMW 5 Series
                      </div>
                      <hr/>
                      <div class="card-stats">
                        <i class="fa fa-check"></i> Data information certified
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->

        </div>
      </div>
    </div>
  </div>
</body>
<!--===============================================================================================-->

<!-- Modal para Modificar Categoria de la empresa -->
<div class="modal fade" tabindex="-1" role="dialog" id="ModalModificarCat" data-controls-modal="ModalModificarCat"
  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: black;">Modificar categoría</h5>
        <button type="button" class="close" (click)="preguntarCategoria()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-2 col-sm-2 col-2">
            <p style="margin-top: 30%;">Nombre:</p>
          </div>
          <div class="col-lg-6 col-sm-6 col-12">
            <mat-form-field style="margin-right: 5%; ">
              <input matInput [(ngModel)]="infoCategoria.nombre_empresa" placeholder="Categoria"
                value="{{infoCategoria.nombre_empresa}}" id="NomCategoria">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-sm-2 col-2">
            <p style="margin-top: 30%;">Estatus:</p>
          </div>
          <div class="col-lg-6 col-sm-6 col-12">
            <select class="form-control select-sm" [(ngModel)]="infoCategoria.estatus">
              <option *ngIf="infoCategoria.estatus==='A'" value="{{infoCategoria.estatus}}">Alta</option>
              <option *ngIf="infoCategoria.estatus==='B'" value="{{infoCategoria.estatus}}">Baja</option>
              <option *ngIf="infoCategoria.estatus==='B'" value="A">Alta</option>
              <option *ngIf="infoCategoria.estatus==='A'" value="B">Baja</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="preguntarCategoria()" class="btn btn-secondary">Cerrar</button>
        <button type="button" (click)="update_categoria()" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para Modificar Area de estudio -->
<div class="modal fade" tabindex="-1" role="dialog" id="ModalModificarAreas" data-controls-modal="ModalModificarAreas"
  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: black;">Modificar área</h5>
        <button type="button" class="close" (click)="preguntarArea()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-2 col-sm-2 col-2">
            <p style="margin-top: 30%;">Nombre:</p>
          </div>
          <div class="col-lg-6 col-sm-6 col-12">
            <mat-form-field>
              <input matInput [(ngModel)]="infoArea.nombre" placeholder="Area" value="{{infoArea.nombre}}" id="NomArea">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-sm-2 col-2">
            <p style="margin-top: 30%;">Estatus:</p>
          </div>
          <div class="col-lg-6 col-sm-6 col-12">
            <select class="form-control select-sm" [(ngModel)]="infoArea.estatus">
              <option *ngIf="infoArea.estatus==='A'" value="{{infoArea.estatus}}">Alta</option>
              <option *ngIf="infoArea.estatus==='B'" value="{{infoArea.estatus}}">Baja</option>
              <option *ngIf="infoArea.estatus==='B'" value="A">Alta</option>
              <option *ngIf="infoArea.estatus==='A'" value="B">Baja</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="preguntarArea()" class="btn btn-secondary">Cerrar</button>
        <button type="button" (click)="update_area()" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>