/*---------------------------------------------*/
input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
}
body {
    background-color: rgb(206, 211, 208); 	
    position: fixed; 
    width:100%; 
    height:100%; 
    overflow: auto;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  th.mat-sort-header-sorted {
    color: black;
  }
#contenedor {
    width: 100%;
    height: 100%;
}
#contenedor2 {
    width: 100%;
    height: 100%;
    overflow: auto;
}
.btn {
    border-radius: 15px;
    border: none;
    color:white;
    background-color:rgb(121, 24, 129);

}

th{
  color: #ffffff;
  background-color: rgb(153, 103, 158);
}
::ng-deep .mat-sort-header-arrow {
  color: white;
}
.container {
    overflow: auto;
}

.remover {
  background-image: url('../../../assets/remove.png');
  background: url('../../../assets/remove.png') no-repeat;
}