/* You can add global styles to this file, and also import other style files */

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  position: relative;
  min-height: 100%;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

.btn {
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.1em;
}

.btn-disabled{
  color: white;
  background-color: #474747;
  border-color: none;
  box-shadow: none;
  cursor: default;
}
.btn-disabled:hover{
  color: white;
}

.btn-primary {
  background-color: #7a26d3;
  border-color: #7a26d3;
  box-shadow: none;
}
.btn-primary:hover {
  background-color: #5d0877;
  border-color: #5d0877;
}
.btn-primary:focus{
  background-color: #5d0877;
  border: 1px solid #5d0877;
  box-shadow: 0 0 0 .2rem #964fac98;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle{
  background-color: #5d0877;
  border: 1px solid #5d0877;
  box-shadow: 0 0 0 .2rem #964fac98;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem #964fac98;
}

.btn-success {
  border: none;
}

.text-dark {
  color: #5d0877 !important;
}

.page-link {
  color: rgb(121, 24, 129) !important;
  border-radius: 0px;
  margin: 0px 2px 0px 2px;
}

.page-item.active .page-link {
  background-color: rgb(121, 24, 129);
  border-color: rgb(121, 24, 129);
  color: white !important;
}

.page-item.disabled .page-link {
  background-color: #e9ecef;
  border-color: #dee2e6;
}
.page-item.active .page-link:hover {
  background-color: rgb(106, 22, 114);
  border-color: rgb(106, 22, 114);
  color: white !important;
}
