
:host::ng-deep .ui-table .ui-sortable-column.ui-state-highlight {
    background-color: #791881;
  }
  
  :host::ng-deep.ui-button:enabled:hover {
    background-color: #45003a;
    color: #ffffff;
    border-color: #45003a;
  }
  
  :host::ng-deep .ui-button:enabled:focus {
    outline: 0 none;
    outline-offset: 0px;
    -webkit-box-shadow: 0 0 0 0.2em #45003a;
    -moz-box-shadow: 0 0 0 0.2em #45003a;
    box-shadow: 0 0 0 0.2em #45003a;
  }
  
  :host::ng-deep .ui-button:enabled:active {
    background-color: #45003a;
    color: #ffffff;
    border-color: #45003a;
  }
  :host::ng-deep .ui-button {
    background-color: #791881;
    color: #ffffff;
    border-color: #791881;
  }
  
  :host::ng-deep .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active {
    background-color: #791881;
    border-color: #791881;
  }
  
  :host::ng-deep .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-focus {
    background-color: #45003a;
    border-color: #45003a;
  }
  
  :host::ng-deep .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active,
  body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active,
  body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active,
  body .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active {
    background-color: #791881;
    border: 1px solid #791881;
  }
  
  :host::ng-deep
    .ui-tabview.ui-tabview-top
    .ui-tabview-nav
    li.ui-state-active:hover,
  body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active:hover,
  body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active:hover,
  body .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active:hover {
    border: 1px solid #45003a;
    background-color: #45003a;
  }
  
  :host::ng-deep .ui-tabview.ui-tabview-top .ui-tabview-nav li:focus,
  body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li:focus,
  body .ui-tabview.ui-tabview-left .ui-tabview-nav li:focus,
  body .ui-tabview.ui-tabview-right .ui-tabview-nav li:focus {
    outline: 0 none;
    outline-offset: 0;
    -webkit-box-shadow: 0 0 0 0.2em #45003a;
    -moz-box-shadow: 0 0 0 0.2em #45003a;
    box-shadow: 0 0 0 0.2em #45003a;
  }
  
  :host::ng-deep
    .ui-paginator
    .ui-paginator-pages
    .ui-paginator-page.ui-state-active {
    background-color: #791881;
    color: #ffffff;
  }
  
  :host::ng-deep
    .ui-paginator
    .ui-paginator-pages
    .ui-paginator-page:not(.ui-state-active):hover {
    background-color: #bb26c7;
    color: #333333;
  }
  
  :host__ng-deep .ui-datatable table {
    table-layout: auto;
  }
  
  :host::ng-deep
    .ui-dropdown-panel
    .ui-dropdown-items
    .ui-dropdown-item.ui-state-highlight,
  body
    .ui-dropdown-panel
    .ui-dropdown-items
    .ui-dropdown-item-group.ui-state-highlight {
    color: #ffffff;
    background-color: #791881;
  }

  :host::ng-deep .ui-inputtext:enabled:focus:not(.ui-state-error) {
    outline: 0 none;
    outline-offset: 0;
    -webkit-box-shadow: 0 0 0 0.2em #b079b4;
    -moz-box-shadow: 0 0 0 0.2em #b079b4;
    box-shadow: 0 0 0 0.2em #b079b4;
    border-color: #bb26c7;
  }

  :host::ng-deep .ui-table .ui-sortable-column:focus {
    outline: 0 none;
    outline-offset: 0;
    -webkit-box-shadow: inset 0 0 0 0.2em #b079b4;
    -moz-box-shadow: inset 0 0 0 0.2em #b079b4;
    box-shadow: inset 0 0 0 0.2em #b079b4;
  }