<app-headertittle></app-headertittle>
<html>
<div id="body">
  <span (click)="arriba()" class="ir-arriba"><img id="imagen" src="/assets/arrowuo.png" height="15px" width="15px"
      alt="Ir arriba">
  </span>

  <div class="container">
    <mat-tab-group id="mattab" dynamicHeight>
      <mat-tab label="Postulaciones pendientes">
        <div *ngFor="let item of postulacionesPendientes" style="border-bottom: 1px solid purple;margin-block-start: 2%;">
          <div class="row">
            <div>
              <div class="col-12 col-sm-12 col-md-12">
                <h6>{{item.titulo_vacante}}</h6>
                <h6>{{item.nombre_empresa}}</h6>
                <h6>{{item.area_estudio}}</h6>
                <div class="row" style="margin-left: 1px;">
                  <div class="col-lg-8 col-sm-8 col-12">
                    <h6 style="margin-block-start:3%;">Te postulaste: {{item.fecha_postulacion}}</h6>
                    <h6 style="margin-block-start:3%;">{{item.descripcion_puesto | slice:0:100}}...</h6>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-5">
                    <button class="btn2" data-toggle="modal" data-target="#vermas" (click)="mostrarDetalleVacante(item,1)">Ver mas</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Postulaciones Aceptadas">
        <div *ngFor="let item of postulacionesAceptadas" style="margin-block-start: 2%;border-bottom: 1px solid purple;">
          <div class="row">
            <div>
              <div class="col-12 col-sm-12 col-md-12">
                <h6>{{item.titulo_vacante}}</h6>
                <h6>{{item.nombre_empresa}}</h6>
                <h6>{{item.area_estudio}}</h6>
                <div class="row" style="margin-left: 1px;">
                  <div class="col-lg-8 col-sm-8 col-12">
                    <h6 style="margin-block-start:3%;">Te postulaste: {{item.fecha_postulacion}}</h6>
                    <h6 style="margin-block-start:3%;">{{item.descripcion_puesto | slice:0:100}}...</h6>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-5">
                    <button class="btn2" data-toggle="modal" data-target="#vermas" (click)="mostrarDetalleVacante(item,0)">Ver mas</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </mat-tab>
      <mat-tab label="Postulaciones Rechazadas">
        <div *ngFor="let item of postulacionesRechazadas" style="margin-block-start: 2%;"
          class=" border border-success border-left-0 border-right-0">
          <div class="row">
            <div>
              <div class="col-12 col-sm-12 col-md-12">
                <h6>{{item.titulo_vacante}}</h6>
                <h6>{{item.nombre_empresa}}</h6>
                <h6>{{item.area_estudio}}</h6>
                <div class="row" style="margin-left: 1px;">
                  <div class="col-lg-8 col-sm-8 col-12">
                    <h6 style="margin-block-start:3%;">Te postulaste: {{item.fecha_postulacion}}</h6>
                    <h6 style="margin-block-start:3%;">{{item.descripcion_puesto | slice:0:100}}...</h6>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-5">
                    <button class="btn2" data-toggle="modal" data-target="#vermas" (click)="mostrarDetalleVacante(item,0)">Ver mas</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

    <div *ngIf="isLoading" class="container">
      <app-loading></app-loading>
    </div>
  </div>
</div>
</html>

<!--===============================================================================================-->
<!-- Modal de los datos de los usuarios -->

<div class="modal fade" id="vermas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" 
aria-hidden="true" data-controls-modal="vermas" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header border border-dark" style="background-color: rgb(87, 4, 87);">

        <h5 id="exampleModalLabel" style="color:white;">INFORMACION DE LA POSTULACION</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span style="color: white;" aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
        <div style="margin-left: 0px;">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <h4 style=" color:blue;">{{infoVacante.titulo_vacante}}----{{infoVacante.id_vacante}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <h6>{{infoVacante.nombre_empresa}}</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <h6>Puesto: {{infoVacante.puesto}} ({{infoVacante.sueldo | currency:'MXN'}})</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <h6>{{infoVacante.descripcion_puesto}}</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-sm-6 col-12">
              <h6>{{infoVacante.fecha_vacante | date: 'longDate'}}</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="background-color: transparent  ;">
          <button class="btn btn-danger" *ngIf="botonCancelar === 1" (click)="cancelarPostulacion(infoVacante.id_vacante)">Cancelar mi postulacion</button>
      </div>
    </div>
  </div>
</div>