@media (min-width: 246px) and (max-width: 767px) {
  .container {
    width: 100%;
  }
  .row {
    margin-left: 0%;
  }
}

.btn2 {
  margin-block-end: 15%;
  background-color: rgb(121, 24, 129);
  border-radius: 20px;
  color: white;
  width: 150px;
  height: 40px;
}
.btn3 {
  background-color: rgb(138, 71, 145);
  border-radius: 20px;
  color: white;
  width: 25%;
}
.btn3:hover {
  background-color: rgb(95, 17, 104);
}

#postulacionesMenu {
  margin-block-start: 5px;
  margin-left: 2%;
  color: black;
}

#postulacionesContenedor {
  width: 90%;
  margin-left: 3%;
  background: white;
  cursor: pointer;
  min-height: 11em;
  border-left: 5px solid rgb(121, 24, 129);
  -webkit-box-shadow: 0px 3px 39px -15px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 3px 39px -15px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 3px 39px -15px rgba(0, 0, 0, 0.7);
}

#postulacionesContenedor:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
  background: rgb(224, 224, 224);
}
#espacioNovacante {
  margin-block-start: 5%;
  width: 50%;
  margin-left: 25%;
  height: 250px;
  text-align: center;
}
#espacioAviso {
  margin-block-start: 3%;
}